.page {
  background-color: $bg-color;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 0;
  box-sizing: border-box;
}

.track_container {
  padding-top: 40px;
  background-color: white;
  flex: 1;
  overflow-y: scroll;
}

.basic_info {
  color: $title-color;
  font-size: 28px;
  font-weight: 500;
  height: 100px;
  padding: 0 20px;
  // line-height: 28px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
  & > .copy_icon {
    width: 32px;
    height: 32px;
    margin-left: 4px;
  }
}

.track {
  display: flex;
  justify-content: center;
  color: $normal-text-color;
  font-size: 24px;
  // &--main {
  //   color: $title-color;
  // }
  &:first-child {
    color: $title-color;
  }
  &:last-child {
    .track__divider {
      &__line {
        display: none;
      }
    }
  }

  &__date {
    width: 156px;
    text-align: right;
    &__date {
      font-size: 30px;
      margin-bottom: 8px;
      // line-height: 1;
    }
  }
  &__divider {
    width: 20px;
    margin: 6px 20px 0;
    &__circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $heavy-border-color;
      &--red {
        background-color: $theme-color;
      }
    }
    &__line {
      margin: 6px auto 0;
      height: 110px;
      border-left: 2px dashed $heavy-border-color;
      width: 0;
    }
  }
  &__content {
    padding-top: 4px;
    padding-right: 25px;
    flex: 1;
    &__detail {
      display: -webkit-box;
      /* autoprefixer: ignore next */
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }
}

.empty {
  flex: 1;
  position: relative;
  background-color: white;
  color: $normal-text-color;
  font-size: 30px;
  &__p {
    // flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__image {
    width: 320px;
    height: 338px;
  }
  // height: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // font-size: 26px;
  // color: $subTitle-color;
}

.edit {
  padding-top: 30px;
  font-size: 28px;
  line-height: 1;
  color: $normal-text-color;
  background-color: white;
  height: 32px;
  text-align: center;
  @include fix-iphone-x('padding', 'bottom', 100px)
}