.container {
  min-height: 100%;
  background: linear-gradient(135deg, #ff806a 0%, #ff3e43 100%);
  padding: 40px;
  box-sizing: border-box;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 144px;
  background: #fff2d0;
  border-radius: 24px;
  margin-bottom: 24px;
}

.name {
  font-size: 36px;
  font-weight: 500;
  color: #360c0d;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 176px;
  height: 64px;
  border-radius: 50px;
  color: $normal-text-color;
  &--alive {
    color: white;
    background: linear-gradient(135deg, #ff806a 0%, #ff3e43 100%);
  }
}
