.list_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}

.list__item {
  margin-bottom: 20px;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}