.shop_wx_code {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
    box-sizing: border-box;
    border-top: 20px solid #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.code_view {
    margin-top: 250px;
    width: 400px;
    height: 400px;
}

.action_parent {
    width: 180px;
    height: 60px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}
.action_view {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    &__left {
        @extend .action_parent;
        border: 1px solid #CCCCCC;
        color: #666666;
        margin-right: 10px
    }
    &__right {
        @extend .action_parent;
        color: #fff;
        background-color: #E62E4D;
        margin-left: 10px;
    }
}