.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 160px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
  z-index: 200;
  .img {
    width: 120px;
    height: 120px;
  }
  .content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 12px;
    &__left {
      display: flex;
      flex-direction: column;
      // align-items: center;
      line-height: 1;
      &__title {
        color: $title-color;
        font-size: 32px;
        margin-bottom: 20px;
      }
      &__content {
        color: $normal-text-color;
        font-size: 28px;
      }
    }
    &__button {
      color: $subTitle-color;
      width: 160px;
      height: 56px;
      line-height: 56px;
      border-radius: 28px;
      text-align: center;
      margin: 0;
      &--border {
        @include border-1px(#aaa, 28px);
      }
    }
  }
}

.notification {
  height: 160px;
}

.max100 {
  max-height: 100%;
}
