.container {
  color: #bbb;
  padding: 40px 40px 0;
  line-height: 1;
  background-color: #f9f9f9;
  height: 100vh;
  box-sizing: border-box;
  .title {
    color: #333;
    font-size: 44px;
  }
  .sub_title {
    margin: 40px 0 60px;
    font-size: 28px;
  }
  .inputs {
    animation: FadeIn 0.3s ease-in;
    background-color: #fff;
    border-radius: 8px;
    color: #333;
    .input {
      padding: 0 40px;
      height: 100px;
      font-size: 28px;
      display: flex;
      align-items: center;
      position: relative;
      &:first-child {
        @include border-bottom-1px(#eeeeee);
      }
      &__icon {
        width: 32px;
        height: 32px;
        margin-right: 24px;
      }
      &__input {
        flex: 1;
        margin-left: 10px;
      }
      &__company {
        margin-left: 10px;
      }
      &__caret {
        position: absolute;
        right: 40px;
        width: 32px;
        height: 32px;
      }
      &__loading {
        position: absolute;
        right: 40px;
      }
    }
  }
  .tips {
    font-size: 24px;
    margin-top: 15px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $subTitle-color;
    &__error {
      color: red;
    }
    &__back {
      // align-self: stretch;
      line-height: 40px;
      font-size: 24px;
      color: $blue;
      text-align: right;
      padding-right: 40px;
    }
  }
  .button {
    position: fixed;
    left: 40px;
    width: 670px;
    bottom: calc(constant(safe-area-inset-bottom) + 50px);
    bottom: calc(env(safe-area-inset-bottom) + 50px);
  }
}

.express_company {
  padding: 0 40px;
  height: 80px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include border-bottom-1px($border-color);
  .icon {
    width: 36px;
    height: 36px;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
