/**
 * @author GaoYuJian
 * @create date 2018-11-24
 * @desc
*/

@mixin swiper-media {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_viewer_container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  .indicator_text {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 100%;
    color: white;
    font-size: 32px;
    text-align: center;
    padding: 20px;
  }
}

.image_swiper_container {
  flex: 1;
  width: 100%;
  height: 100%;
  .image_media_container {
    width: 100%;
    height: 100%;
    .swiper-image {
      @include swiper-media;
    }
  }
}

.all_goods_content_view {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  .cancel {
    width: 56px;
    height: 40px;
    font-size: 28px;
    color: $title-color;
    line-height: 40px;
    padding: 10px 0 10px 24px;
  }

  .searchbar_content_allGoods {
    width: 488px;
  }

  .searchbar_content_search {
    padding: 0 28px 0 0;
  }

  .searchbar_content {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    margin-left: 24px;
    height: 88px;
    // position: fixed;
    // padding: 22px 28px 10px;
    // height: 56px;
    .itemView-rest {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      .image {
        width: 39px;
        height: 39px;
        margin-right: 18px;
        margin-left: 22px;
      }
    }
  }
  .order_items {
    // height: px;
    display: flex;
    align-items: center;
    background-color: transparent;
    // padding: 0 28px;
    //border-bottom: 1px solid $border-color;
    // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    .line {
      width: 2px;
      height: 22px;
      background-color: #c8c8d1;
    }
    .itemView {
      flex: 157;
      display: flex;
      flex-direction: row;
      height: 100%;
      align-items: center;
      justify-content: flex-end;
    }

    .order_text {
      font-size: 28px;
      color: #4a4a4a;
      display: flex;
    }
    .order_texts {
      font-size: 28px;
      color: #ff4c62;
      display: flex;
    }
    .order_image {
      width: 24px;
      height: 26px;
      margin-left: 8px;
    }
  }

  .category {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 100%;
    // height: 100vh;
    // padding-left: 164px;
    box-sizing: border-box;
    transition: padding ease-in-out 0.3s;
    position: relative;
    &__goods_empty_view {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 199;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__icon {
        width: 320px;
        height: 320px;
        margin-top: 200px;
      }
      &__label {
        font-size: 30px;
        color: #222;
        font-weight: 500;
        margin-top: 40px;
      }
      &__content {
        margin-top: 15px;
        font-size: 26px;
        color: #B2B2B2;
      }
      &__action {
        width: 240px;
        height: 70px;
        border-radius: 40px;
        background-color: #E62E4D;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        color: #fff;
        margin-top: 40px;
      }
    }
    .category_side_bar {
      transition: left ease-in-out 0.3s;
      left: 0;
      z-index: 300;
      @include border-right-1px($border-color);
      position: fixed;
    }
    .rightView {
      flex: 19;
      flex-direction: column;
      // height: 100vh;
      width: 100%;
      // min-height: 100vh;
    }
  }

  // .arrow_left {
  //   width: 20px;
  //   height: 34px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   position: fixed;
  //   z-index: 120;
  //   left: 156px;
  //   bottom: 80px;
  //   padding: 20px;
  //   border-radius: 0 27px 27px 0;
  //   background-color: rgba(255, 255, 255, .7);
  //   box-shadow: 3px 0 3px rgba(0, 0, 0, .3);
  //   .left {
  //     width: 34px;
  //     height: 34px;
  //   }
  // }
}

:host {
  display: flex;
  flex: 1;
  width: 100%;
}

.good_list_line {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  .sex_icon {
    width: 32px;
    height: 32px;
    margin-right: 16px;
    align-self: center;
    display: flex;
  }
  .recommendView {
    width: 100%;
    height: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .recommend {
    width: 100%;
    height: 33px;
    margin-right: 44px;
    margin-left: 44px;
  }
  .good_two_container {
    padding: 0 24px;
    // // transition: flex ease-in-out 0.2s;
    // .image {
    //   height: 424px;
    // }
    // .block-view {
    //   height: 424px;
    // }
    // .video-cover {
    //   height: 424px;
    // }
  }
  .good_item {
    border-bottom: 1px solid $line-color-light;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 28px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 16px 0 #dfdfdf;
    .image_container {
      width: 220px;
      height: 220px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      position: relative;
      .image {
        width: 220px;
        height: 220px;
        border-radius: 4px;
      }
      .image_new_protection_left {
        position: absolute;
        left: 0;
        top: 0;
        width: 72px;
        height: 66px;
      }
    }
  }
  .good_two_container,
  .good_three_container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -12px;
    // background: linear-gradient(to bottom, white, 30%, $bg-color);
    // background-color: $bg-color;
    // padding: 10px;
    .good_items_allGoods {
      width: 50%;
      position: relative;
      box-sizing: border-box;
      padding: 0 12px;
      margin-bottom: 24px;
    }
    .good_items {
      width: 33.333%;
      position: relative;
      box-sizing: border-box;
      padding: 0 12px;
      margin-bottom: 24px;
      // padding: 10px 10px 15px 10px;
      .good-outer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 0 16px 0 #dfdfdf;
      }
      &.even_item {
        padding-left: 11px;
        padding-right: 0;
      }
      .image {
        width: 100%;
        border-radius: 8px;
      }
      .video {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        z-index: 2;
      }
      .block-view {
        width: 100%;
      }
      .video-cover {
        width: 100%;
        border-radius: 8px;
        position: relative;
        .block-view {
          position: absolute;
          top: 0;
          left: 0;
        }
        .video-play-cover {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background-color: transparent;
          z-index: 110;
        }
        .image {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 100;
          &.video-ready {
            z-index: 0;
          }
        }
        .play-icon-view {
          position: absolute;
          left: 0;
          top: 0;
          width: 80px;
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 100;
          &.video-ready {
            z-index: 1;
          }
          .play-icon {
            width: 40px;
            height: 40px;
          }
        }
      }
      .image_new_protection_right {
        position: absolute;
        right: 0;
        top: 0;
        width: 72px;
        height: 66px;
      }
      .good_tag_container {
        width: 100%;
        padding-left: 18px;
        display: flex;
        margin: 14px 0;
        .good_tag {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          height: 26px;
          border-radius: 13px;
          border: 1px solid rgba(247, 78, 108, 1);
          font-size: 20px;
          font-weight: 400;
          color: rgba(247, 78, 108, 1);
          line-height: 28px;
        }
      }

      .good_info {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        box-sizing: border-box;
        width: 100%;
        flex: 1;
        justify-content: space-between;
        .good_info-title {
          font-size: 24px;
          color: $subTitle-color-4C;
          text-align: left;
          margin-top: 12px;
          margin-bottom: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
        }
        .good_info_content {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          .pub_price_container {
            display: flex;
            align-items: flex-end;
            flex: 1;
            .pub_price_symbol {
              font-size: 20px;
              color: $active-color;
              text-align: left;
              align-self: center;
            }
            .pub_price {
              font-size: 32px;
              color: $active-color;
              text-align: left;
              font-weight: bold;
            }
            .price_default {
              vertical-align: bottom;
              color: $subTitle-color;
              font-size: $subcontent-font;
              text-decoration: line-through;
              margin-left: 20px;
              line-height: 42px;
              padding-top: 10px;
            }
          }
          .view_num {
            font-size: 20px;
            color: #9b9b9b;
            text-align: left;
          }
        }
      }
    }
    @media screen and (min-width: 580px) {
      .good_items {
        width: 25%;
      }
    }
    @media screen and (min-width: 700px) {
      .good_items {
        width: 20%;
      }
    }
  }
  .good_two_container_padding--zero {
    padding: 0;
  }

  .good_two_container--white {
    background-color: white;
  }
  .at_last_text_view {
    background-color: $bg-color;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    height: 40px;
    margin-top: 40px;
    .at_last_text {
      color: $subTitle-color;
      align-items: center;
      font-size: 24px;
      line-height: 1;
    }
  }
  .newStyle {
    display: flex;
    flex-direction: row;
  }
}

.outOfGoodsView {
  position: absolute;
  width: 220px;
  height: 220px;
  border-radius: 4px;
  left: 0;
  top: 0;
  background-color: #000000;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  .text {
    color: white;
    font-size: 26px;
  }
}
