.shop_cell {
  display: flex;
  height: 180px;
  align-items: center;
  background-color: white;
  @include border-bottom-1px(#f4f4f4);
  &__logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 30px;
  }
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: $normal-text-color;
    line-height: 1;
    &__title {
      font-size: 32px;
      color: $title-color;
      margin-bottom: 20px;
    }
    &__address {
      max-width: 400px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    min-width: 128px;
    color: #CCC;
    font-size: 24px;
    @include border-1px(#CCC, 24px);
    &__icon {
      margin-right: 8px;
      width: 24px;
      height: 24px;
    }
  }
}
