.custom_goods_detail_container {
  background-color: $bg-color;
}

.goods_detail {
  border-radius: 20px;
  overflow: hidden;
}

.goods_detail_page {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  
  .goods_detail_container {
    width: 100%;
    z-index: 1;
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    .image_viewer_container {
      position: relative;
      padding-bottom: 100%;
      background-color: white;
    }
    .image_viewer_wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .goods_info {
      width: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 0 40px;
      background-color: white;
      .angle_right {
        width: 40px;
        height: 40px;
      }
      &__param {
        height: 100px;
        display: flex;
        align-items: center;
        font-size: 26px;
        color: $title-color;
        @include border-top-1px($border-color);
        &__label {
          margin-right: 20px;
          color: $normal-text-color;
        }
      }
    }

    .coupon_title_view {
      height: 100px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      margin-top: 20px;
      color: $normal-text-color;
      font-size: $font26;
      // border-top: 1px solid $border-color;
      @include border-top-1px($border-color);
      .title {
        // width: 96px;
        // height: 34px;
        // font-size: 24px;
        // color: #4a4a4a;
        // line-height: 34px;
        // font-weight: 600;
      }
      .rules {
        color: $title-color;
        margin-left: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .coupon_view_right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        // .left_view {
        //   margin-left: 28px;
        //   margin-right: 18px;
        //   width: 8px;
        //   height: 28px;
        //   background-color: $active-color;
        // }

        .subTitle_view {
          height: 36px;
          font-size: $font20;
          padding: 0 8px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin-right: 20px;
          color: $theme-color;
          @include border-1px($theme-color, 4px);
        }
        .subTitle_text {
          // font-size: 24px;
          // color: #ff4c62;
          // max-width: 180px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .coupon_view_right__right {
        // margin-right: 30px;
        display: flex;
        align-items: center;
        // .right_title_log {
        //   font-size: 28px;
        //   color: #9b9b9b;
        // }
      }
    }
    .detail_title_view {
      height: 74px;
      width: 100%;
      display: flex;
      flex-direction: row;
      background-color: white;
      align-items: center;
      margin-top: 20px;
      .left_view {
        margin-left: 28px;
        margin-right: 18px;
        width: 8px;
        height: 28px;
        background-color: $active-color;
      }
      .title {
        width: 96px;
        height: 34px;
        font-size: 24px;
        color: #4a4a4a;
        line-height: 34px;
        font-weight: 600;
      }
    }

    .intro {
      flex: 1;
      color: $title-color;
      margin-left: 20px;
      font-size: $font26;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .goods_props {
      height: 100px;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: white;
      color: $normal-text-color;
      font-size: $font26;
      // border-top: 0.5Px solid $border-color;
      @include border-top-1px($border-color);

      .icon_dot {
        width: 48px;
        height: 48px;
      }
      .title {
        width: 320px;
        font-size: 24px;
        font-weight: 400;
        color: rgba(155, 155, 155, 1);
        line-height: 34px;
        display: flex;
        display: -webkit-box;
        word-break: break-all;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 10px;
      }
    }

    .divider_h {
      @include border-bottom-1px($border-color);
    }

    .size_color {
      display: flex;
      flex-direction: column;
      padding: 30px 0 40px;
      font-size: $font26;
      color: $normal-text-color;
      // margin-bottom: 30px;
      @include border-top-1px($border-color);
      .line_1 {
        height: 40px;
        display: flex;
        align-items: center;
      }
      .line_2 {
        margin-top: 20px;
        padding-left: 72px;
        display: flex;
        align-items: center;
        font-size: $font24;
        color: $subTitle-color;
        .item {
          height: 36px;
          border-radius: 6px;
          background-color: $label-bg;
          padding: 6px 12px;
          line-height: 34px;
          margin-right: 20px;
        }
        .image {
          width: 44px;
          height: 44px;
          border-radius: 4px;
        }
      }
    }

    .arrow {
      position: absolute;
      top: 26px;
      right: 20px;
      width: 18px;
      height: 28px;
    }

    .params_container {
      position: relative;
      background-color: white;
      height: 80px;
      padding-left: 34px;
      border-bottom: 1px $inactive-color solid;
      border-top: 1px $inactive-color solid;
      display: flex;
      align-items: center;
      white-space: nowrap;
      .title_text {
        color: $subTitle-color;
        font-size: $subcontent-font;
        white-space: nowrap;
      }
      .content_text {
        color: $title-color;
        font-size: $subcontent-font;
        margin-left: 40px;
        white-space: nowrap;
      }
    }

    .service_container {
      position: relative;
      background-color: white;
      height: 80px;
      padding-left: 34px;
      display: flex;
      align-items: center;
      .title_text {
        color: $active-color;
        font-size: $subcontent-font;
      }
      .content_item {
        margin-left: 40px;
        display: flex;
        align-items: center;
        .content_item_image {
          width: 24px;
          height: 24px;
          padding-right: 8px;
        }
      }
    }
  }

  .bottom_flag {
    @include fix-iphone-x('position', 'bottom', 100px);
    position: fixed;
    left: 0;
    right: 0;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  .bottom_container {
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 100;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 12px;
    box-sizing: border-box;
    @include border-top-1px($heavy-border-color);
    // bottom: 0;
    // // @include fixed-item(0, $usePadding: true);
    // @include fix-iphone-x('padding', 'bottom', 0);
    // position: fixed;
    .divider_v {
      height: 74px;
      @include border-left-1px($border-color);
    }
    .goods_offline {
      background-color: rgba(0, 0, 0, 0.5);
      left: 0;
      top: 0;
      right: 0;
      transform: translateY(-100%);
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 88px;
      .text {
        font-size: $font30;
        color: white;
      }
    }

    .action_button_container {
      height: 100px;
      width: 100%;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 40px;
      box-sizing: border-box;
      .button--disabled {
        opacity: 0.5;
      }
      .customer_button {
        padding: 0;
        border: unset !important;
        margin: 0;
        background: transparent;
        color: transparent;
        line-height: 1;
      }
      .action_button_item {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .action_button_cart {
    flex: 1;
    color: $active-color;
    background-color: #ffc6d9;
    border-width: 0;
    border-radius: 0;
    height: 100%;
    font-size: 34px;
  }

  .action_button_cart::after {
    border-width: 0;
  }

  .action_button_buy::after {
    border-width: 0;
  }

  .action_button_buy {
    flex: 1;
    background-color: $active-color;
    border-width: 0;
    border-radius: 0;
    height: 100%;
    font-size: 34px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }

  .done_button {
    width: 100%;
    height: 80px;
    background-color: $active-color;
    border-width: 0;
    border-radius: 0;
  }

  .params_modal {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    .params_item {
      display: flex;
      height: 80px;
      border-bottom: 2px $inactive-color solid;
      padding-left: 30px;
      align-items: center;
      .params_item_title {
        font-size: $content-font;
        color: $subTitle-color;
        width: 160px;
        text-align: left;
      }
      .params_item_content {
        font-size: $content-font;
        color: $title-color;
        margin-left: 50px;
      }
    }
  }

  // taro-ui
  // size
  .size_input {
    height: 60px;
    border-color: $line-color;
    border-width: 2px;
  }

  .at-input-number__btn {
    color: $line-color;
  }
  .at-input-number__input {
    border-left: 2px $line-color solid;
    border-right: 2px $line-color solid;
    font-weight: bold;
    font-size: $title-font;
  }

  // image
  .switch_item {
    position: absolute;
    font-size: $small-text-font;
    width: 100px;
    height: 40px;
    line-height: 40px;
  }
  .switch_active_item {
    @extend .switch_item;
    background-color: $active-color;
    border-color: $active-color;
    color: white;
    z-index: 1;
  }
  .switch_inactive_item {
    @extend .switch_item;
    background-color: $inactive-color;
    border-color: $inactive-color;
    color: $title-color;
  }

  .switch_item_video {
    left: 0;
    top: 0;
    padding-left: 0;
  }

  .switch_item_image {
    top: 0;
    right: 0;
    padding-right: 0;
  }

  .picture {
    width: 100%;
    height: 750px;
  }

  .desc_picture {
    display: block;
    width: 100%;
  }
  .desc_text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
    padding: 15px;
    word-break: break-all;
    font-size: $font26;
  }
  .coupon_home {
    height: 930px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 42px 42px 0px 0px;
    position: relative;
    .close_icon {
      position: absolute;
      width: 40px;
      height: 40px;
      padding: 20px;
      right: 20px;
      top: 4px;
    }
    .collar_text_word {
      height: 80px;
      line-height: 80px;
      font-size: $font30;
      color: $title-color;
    }
    .mainItemStyle {
      width: 100%;
      height: 100%;
    }
    .coupon_submit_View {
      height: 78px;
      width: 692px;
      border-radius: 45px;
      background-color: #ff4c62;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      bottom: 44px;
      .coupon_submit_text {
        font-size: 28px;
        color: #ffffff;
      }
    }
  }
  .go_to_shop {
    display: flex;
    align-items: center;
    height: 160px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(255, 247, 242, 1) 100%);
    margin: 20px 0;
    padding: 0 40px;
    .shop_logo {
      width: 96px;
      height: 96px;
      margin-right: 16px;
      border-radius: 48px;
    }
    .shop_name_view {
      display: flex;
      flex: 1;
      flex-direction: column;
      .shop_name {
        flex: 1;
        font-size: 32px;
        color: $title-color;
        line-height: 44px;
        font-weight: 500;
      }
      .shop_spu_count {
        font-size: 26px;
        color: $normal-text-color;
        line-height: 36px;
        margin-top: 10px;
      }
    }
    .in_shop {
      padding: 8px 16px;
      font-size: 24px;
      line-height: 32px;
      color: white;
      border-radius: 24px;
      background-color: #ff7733;
    }
  }
}
