:host {
  display: flex;
  flex: 1;
  width: 100%;
}

.good_info {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 12px 8px;
  .goods_buy {
    width: 48px;
    height: 48px;
    position: relative;
    background-size: 100% 100%;
    &::after {
      position: absolute;
      display: block;
      width: 200%;
      height: 200%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .replenish_btn_wrapper {
    position: absolute;
    right: 4px;
    bottom: 4px;
    padding: 8px;
  }
  .replenish_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    width: 36px;
    height: 36px;
    background: linear-gradient(360deg, #ff595e 0%, #ff9395 100%);
    border-radius: 24px;

    &__h {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 4px;
      background-color: white;
    }
    &__v {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 4px;
      height: 20px;
      background-color: white;
    }
  }
  &__title {
    font-size: $font26;
    color: $title-color;
    height: 36px;
    line-height: 36px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font26;
    line-height: 48px;
    height: 48px;
    color: $normal-text-color;
    .s_placeholder {
      width: 40%;
    }
    &__price {
      font-weight: 500;
      font-size: 34px;
      // text-decoration-line: line-through;
    }
    &__text {
      color: $normal-text-color;
      font-size: $font24;
    }
    &--primary {
      color: $theme-color;
      font-size: $font24;
      .good_info__bottom__price {
        font-weight: 500;
        font-size: $font38;
        // text-decoration-line: none;
      }
    }
  }
  .price_wrapper {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 22px;
    margin-top: 8px;
    .price_placeholder {
      position: relative;
      width: 106px;
      height: 36px;
      background-color: #f7f7f7;
      border-radius: 16px;
      overflow: hidden;
      &::after {
        position: absolute;
        inset: 0 -150%;
        background: linear-gradient(
          90deg,
          rgba(190, 190, 190, 0.2) 25%,
          rgba(129, 129, 129, 0.24) 37%,
          rgba(190, 190, 190, 0.2) 63%
        );
        animation: ant-skeleton-loading 1.4s ease infinite;
        content: '';
      }
    }
  }
  .code_wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $normal-text-color;
    font-size: 22px;
  }
  .code_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .good_info_code {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 25px;
    color: #666666;
  }
  .title_line {
    font-size: $font26;
    display: flex;
    flex-direction: row;
    align-items: center;
    .s_placeholder {
      width: 70%;
    }
  }
}

.s_placeholder {
  background-color: #f7f7f7;
  height: 28px;
  border-radius: 14px;
}

@keyframes ant-skeleton-loading {
  0% {
    transform: translate(-37.5%);
  }

  to {
    transform: translate(37.5%);
  }
}
