.cell {
  display: flex;
  height: 180px;
  padding: 30px 40px;
  box-sizing: border-box;
  background-color: #fff;
  &__avatar {
    flex: 0 0 120px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
  }
  &__content {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    .right_icon {
      width: 40px;
      height: 40px;
      flex: 0 0 40px;
    }
    &__info {
      overflow: hidden;
    }
  }
  &__info {
    &__name {
      font-size: 32px;
      line-height: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &--rem {
        color: $normal-text-color;
      }
    }
    &__phone {
      margin-top: 24px;
      display: flex;
      align-items: center;
      color: $normal-text-color;
      font-size: 24px;
      .phone_icon {
        width: 28px;
        height: 28px;
        margin-right: 4px;
      }
    }
  }
  .button {
    flex: 0 0 124px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 1;
    color: $normal-text-color;
    // padding: 0 14px;
    height: 48px;
    @include border-1px(#aaa, 24px);
  }
}
