.wrapper {
}

.line {
  min-height: 80px;
  padding: 20px 16px;
  white-space: pre-wrap;
  border-bottom: #eee solid 2px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  &--money {
    flex-direction: column;
    align-items: flex-start;
    line-height: 50px;
  }
}

.others {
  padding: 28px 16px;
  line-height: 46px;
  margin-bottom: 20px;
}

.qrcodes {
  display: flex;
  // align-items: center;
  // justify-content: space-between;
  flex-wrap: wrap;
  &__qrcode {
    text-align: center;
    min-width: 33%;
    flex: 0 1 33%;
    &__img {
      width: 200px;
      height: 200px;
      margin-bottom: 20px;
    }
  }
}

.qrcode {
  width: 200px;
  height: 200px;
}

.big-font {
  font-size: 40px;
}