.goods_com_wrapper {
  width: 100%;
  height: 248px;
  background: #FFFFFF;
  border-radius: 16px;
  margin-bottom: 24px;

  &__top {
    width: 100%;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 20px;
    position: relative;

    &__goodsImage {
      width: 128px;
      height: 128px;
      border-radius: 14px;
    }

    &__goodsInfo {
      flex: 1;
      margin-left: 16px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 26px;
      font-weight: 400;

      &__goodsName {
        color: #222222;
      }

      &__goodsInv {
        color: #999999;
      }

      &__goodsPrice {
        color: #999999;
      }
    }

    .sync_invnum {
      width: 104px;
      height: 40px;
      background: #F2F6FF;
      border-radius: 8px;
      font-size: 22px;
      font-weight: 400;
      color: #2E6BE6;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 20px;
      top: 20px;
    }

    .audit_flag_status {
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 22px;
      font-weight: 400;
    }
    .AUDITING {
      color: #FF874C;
    }
    .FAILURE {
      color: #E62E4D;
    }

    .auditing {
      font-size: 22px;
      font-weight: 400;
      color: #FF874C;
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }

  &__bottom {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px;

    &__actionView {
      display: flex;

      &__item {
        width: 100px;
        height: 56px;
        border-radius: 8px;
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
        font-size: 26px;
        font-weight: 400;
        color: #666666;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 16px;
      }
    }
  }
}

.goods_price_color {
  color: #E62E4D;
}

.goods_delete_icon {
  width: 32px;
  height: 32px;
  padding: 10px;
}