.staff_items {
    &_item {
        width: 100%;
        height: 160px;
        background-color: #fff;
        margin-top: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        padding: 20px 20px;
        margin: 0 auto;
        .staff_items_btn {
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 27px;
            border: 2px solid #2E6BE6;
            border-radius: 10px;
            color: #2E6BE6
        }
    }
    &_headImg {
        width: 140px;
        height: 100%;
        box-sizing: border-box;
        padding-left: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .head_portrait {
            width: 95px;
            height: 95px;
            border-radius: 10px;
        }
    }
}
.staff_info {
    width: 410px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    .staff_role {
        font-size: 27px;
        color: #666666;
        .staff_position {
            padding: 2px 7px;
            border-radius: 10px;
            color: #E62E4D;
            font-size: 28px;
            margin-left: 15px;
            border: 1px solid #E62E4D;
        }
    }
}
.staff_unbound {
    font-size: 28px;
    color: #2E6BE6;
}