.menu {
  height: 600px;
  display: flex;
}

.scroll {
  // width: 240px;
  height: 100%;
  font-size: 30px;
  color: $subTitle-color;
  &--left {
    flex: 0 0 240px;
    text-align: center;
  }
  &--right {
    flex: 1;
    padding: 0 40px;
  }
  &__item {
    height: 100px;
    line-height: 100px;
    // background-color: $bg-color;
    @include border-bottom-1px($border-color);
    &--left {
      background-color: $bg-color;
    }
    &--active {
      background-color: #fff;
    }
    &--checked {
      color: $theme-color;
      font-weight: 500;
    }
  }
}
