.listTop {
  display: flex;
  height: 88px;
  border-bottom: 2px solid #eee;

  .tabItem {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #bbb;

    .activeTitle {
      color: #333;
    }

    .redLine {
      width: 28px;
      height: 4px;
      background-color: #ff6f72;
      border-radius: 4px;
    }
  }
}
