:host {
  display: flex;
  flex: 1;
  width: 100%;
}
.shop_search_lineAllgoods{
  width: 50%;
  border: 1px solid #DDD;
  border-radius: 40px;
  margin-right: 20px;
}
.shop_search_line {
  display: flex;
  height: 64px;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .search_input {
    display: flex;
    flex: 1;
    margin-left: 10px;
  }
  .search_bar {
    display: flex;
    flex: 1;
    align-items: center;
    // height: 64px;
    height: 100%;
    padding: 0 16px;
    border-radius: 32px;
    background-color: $bg-color;
    position: relative;
    .search_image {
      width: 48px;
      height: 48px;
    }
    .search_input {
      font-size: $font26;
      color: $title-color;
      letter-spacing: -0.34px;
      text-align: left;
      height: 64px;
    }
    .delete {
      padding: 10px 20px;
      width: 32px;
      height: 32px;
    }
    .searchbar_input__placeholder {
      position: absolute;
      color: $normal-text-color;
      font-size: $font26;
      left: 78px;
      line-height: 64px;
      pointer-events: none;
    }
  }
}
