.page {
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $bg-color;

    &__form {
        margin-top: 20px;
        background-color: white;

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 30px;
            font-size: 26px;
            border-bottom: 0.5px solid $line-color-light_F0;
            &__label {
                width: 20%;
                margin-right: 20px;
                color: $title-color;
                font-weight: 400;
            }

            &__content {
                display: inline-block;
                flex-grow: 1;
                color: $normal-text-color;

                &__input {
                    font-size: 22px;
                    color: #757575
                }
            }
        }
    }

    &__submit {
        margin: 20px auto;
        padding: 20px;
        width: 80vw;
        border-radius: 40px;
        color: white;
        background-color: $theme-color;
    }
}