.container {
  font-size: 28px;
  color: $subTitle-color;
  padding: 0 40px 20px;
  padding: 0 40px calc(20px + taro-tabbar-height);
}

.title {
  height: 80px;
  line-height: 80px;
}

.input {
  padding: 20px;
  box-sizing: border-box;
  color: $title-color;
  width: 100%;
  height: 180px;
  margin-bottom: 300px;
}