.shop_hot_goods {
  width: 100vw;
  box-sizing: border-box;
  padding: 24px 24px 170px 24px;

  &__header {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;

    &__title {
      display: flex;
      align-items: center;
      color: #222222;
      font-size: 30px;
      font-weight: 500;
    }

    &__icon {
      width: 40px;
      height: 40px;
    }

    &__label {
      color: #999999;
      font-size: 26px;
    }

    &__actionView {
      width: 100px;
      height: 56px;
      border-radius: 8px;
      font-size: 26px;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      box-sizing: border-box;
      transition: all ease-in-out 0.2s;
    }

  }

  &__special_header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 10px;

    &__title {
      color: #222222;
      font-size: 30px;
      font-weight: 500;
    }
  }

  &__infoView {
    width: 100%;
    height: 88px;
    border-radius: 16px;
    background-color: #fff;
    font-size: 30px;
    color: #666;
    box-sizing: border-box;
    padding: 0 20px;
  }

  &__content {
    width: 100%;
    // height: 1000px;
    position: relative;
    margin-top: 24px;
  }

  &__bottom {
    width: 100%;
    height: 168px;
    box-sizing: border-box;
    padding: 14px 40px 0 40px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;

    &__left {
      @extend .action_view;
      color: #666;
      border: 1px solid #CCCCCC;
    }

    &__right {
      @extend .action_view;
      color: #FFFFFF;
      background-color: #E62E4D;
    }
  }
}

.action_view {
  width: 324px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 36px;
  box-sizing: border-box;
}

.slide_container_content {
  width: 100%;
  height: 432px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    width: 100%;
    height: 100px;
    position: relative;
    font-weight: 500;
    color: #222222;
    font-size: 26px;
    border-bottom: 1px solid #F4F4F4;
  }

  &__content {
    width: 100%;
    box-sizing: border-box;
    padding: 0 24px;
    margin-top: 24px;
    position: relative;

    &__text {
      width: 100%;
      height: 120px;
      font-size: 30px;
      border-radius: 14px;
      background-color: #F7F7F7;
      box-sizing: border-box;
      padding: 24px;
    }

    &__length {
      position: absolute;
      bottom: 16px;
      right: 48px;
      font-size: 30px;
      color: #999999;
    }
  }

  &__label {
    width: 100%;
    margin-top: 8px;
    font-size: 26px;
    color: #999;
    box-sizing: border-box;
    padding-left: 44px;
  }

  &__action {
    width: 702px;
    height: 72px;
    background: #E62E4D;
    border-radius: 44px;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    margin-top: 32px;
  }
}
.action_save {
  background-color: #2E6BE6;
  color: #fff;
}

.action_sort {
  color: #222;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
}

.delete_icon {
  width: 26px;
  height: 26px;
  padding: 10px;
  position: absolute;
  top: 45%;
  right: 40px;
  transform: translateY(-50%);
}
.description_edit {
  color: #4278f6;
  font-weight: normal;
  font-size: 28px;
}
