.shopItem {
  position: relative;
  padding: 0 16px;
  display: flex;
  height: 120px;
  // justify-content: space-between;
  align-items: center;
  color: #333;
  font-size: 26px;
  overflow: hidden;
  box-sizing: border-box;
  .sticky_flag {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 16px;
    height: 16px;
  }
  .micro_mall {
    width: 80px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .cloud {
    width: 46px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .logoCover {
    line-height: 1;
    .shopLogo {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .shopName {
    margin-left: 16px;
    // width: 140px;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;

    // &::-webkit-scrollbar {
    // background-color: #fff;
    // }
  }
  .new_icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 24px;
  }
  &--small {
    font-size: 24px;
    // width: 176px;
    .logoCover {
      .shopLogo {
        width: 48px;
        height: 48px;
      }
    }
  }
  &--active {
    color: #f2503d;
    background-color: #fff;
  }
}
