function onTouchMove(event, ins) {
  var state = ins.getState()
  if (state.enableMove) {
    var touchs = event.changedTouches
    var touch = touchs[0]
    var touchDiff = {
      x: touch.pageX - state.startPosition.x,
      y: touch.pageY - state.startPosition.y
    }

    state.diff = {
      x: touchDiff.x,
      y: touchDiff.y
    }
    ins.selectComponent('.active_movable_item').setStyle({
      transform: 'translate(' + touchDiff.x + 'px, ' + touchDiff.y + 'px)'
    })
    return false
  }
}

function onTouchStart(event, ins) {
  var isEnbleMove = ins.selectComponent('#goods_sort_hook')
  if (!isEnbleMove) return
  var touches = event.changedTouches
  var touch = touches[0]
  var state = ins.getState()

  state.startPosition = {
    x: touch.pageX,
    y: touch.pageY
  }
  state.enableMove = true
  ins.callMethod('onTouchStart', event)

  var ele = ins.selectComponent('.active_movable_item')

  ele.setStyle({
    zIndex: 2,
    opacity: 1,
    transform: 'translate(0, 0)'
  })

  // return false
}

function onTouchEnd(event, ins) {
  var state = ins.getState()
  if (state.enableMove) {
    var ele = ins.selectComponent('.active_movable_item')
    var touchDiff = state.diff
    ins.callMethod('onTouchEnd', event)
    state.enableMove = false
    ele.setStyle({
      zIndex: -1,
      opacity: 0,
      transform: 'translate(' + touchDiff.x + 'px, ' + touchDiff.y + 'px)'
    })
  }
}

module.exports = {
  onTouchMove: onTouchMove,
  onTouchStart: onTouchStart,
  onTouchEnd: onTouchEnd
}
