.page {
  padding-top: 20px;
}

.top_container {
  background-color: #fff;
  // padding: 0 40px;
  margin-bottom: 20px;
}

.op {
  display: flex;
  align-items: center;
  height: 128px;
  justify-content: space-around;
  @include border-top-1px($border-color);
  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $normal-text-color;
    font-size: 24px;
    &__icon {
      margin-bottom: 16px;
      width: 48px;
      height: 48px;
    }
  }
}


.bottom_container {
  background-color: white;
  .cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px 0 40px;
    height: 100px;
    font-size: 28px;
  }
}