.ticket_item_container {
  position: absolute;
  left: 50%;
  text-align: center;
  width: 80%;
  // height: 300px;
  // height: 250px;
  margin: 0 auto;
  background-color: white;
  border-radius: 18px;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  font-family: SourceHanSansCN-Normal, SourceHanSansCN, sans-serif;

  &--transform {
    box-shadow: 0 -2px 18px #b6b6b6;
    transform: translate(-50%, 0);
    transition: transform ease-out 0.3s;
  }

  &--rotate30 {
    transform: translate(-50%, 0) rotateX(-30deg);
  }

  &--rotate40 {
    transform: translate(-50%, 0) rotateX(-40deg);
  }

  &--perspective {
    transform: translate(-50%, 0) perspective(2500px) rotateX(-30deg);
  }

  &.disable_transition {
    transition: none;
  }

  &--static {
    height: 200px;
    transform: translate3d(-50%, 0, -300px);
    // z-index: -50;
    // animation: 0.8s ease-out 2.3s 1 normal forwards fadeInBlur;
    animation-name: fadeInBlur;
    opacity: 0;
    animation-delay: 0.7s;
  }

  .ticket_cell_container {
    position: relative;
    height: 100%;

    .ticket__shop_avatar {
      position: absolute;
      width: 76px;
      height: 76px;
      left: 50%;
      top: -38px;
      transform: translateX(-50%);
      background-color: white;
      border-radius: 50%;

      &--img {
        position: absolute;
        left: 4px;
        top: 4px;
        width: 68px;
        height: 68px;
        border-radius: 50%;
      }
    }

    .ticket_cell {
      background-color: white;
      display: flex;
      flex-direction: column;
      padding: 0 40px;
      border-radius: 14px;
      height: 100%;
      &__cloud {
        position: absolute;
        display: flex;
        align-items: center;
        height: 30px;
        top: 12px;
        right: 12px;
        font-size: 22px;
        color: #cc6900;
        border-radius: 4px;
        overflow: hidden;
        &__label {
          padding: 4px;
          background: linear-gradient(180deg, #ffdb87 0%, #ffd663 100%);
          &--send {
            color: white;
            background: #5A95FF;
          }
        }
        &__status {
          padding: 4px;
          background: #fff4da;
          &--send {
            color: #5A95FF;
            background: #F2F7FF;
          }
        }
      }
      .ticket__basic_info {
        height: 264px;
        padding: 48px 0 50px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        justify-content: space-between;
        .ticket__row {
          display: flex;
          justify-content: center;
          // flex-direction: column;
          align-items: center;
          height: 50px;
          color: #333;
          font-size: 26px;

          &__divider {
            width: 2px;
            height: 20px;
            background-color: $theme-color;
            margin: 0 20px;
          }

          &__text {
            flex: 1;
            font-weight: 600;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &--left {
              white-space: nowrap;
              // overflow-x: scroll;
            }
          }

          &--second {
            .ticket__row__text {
              color: #999;
              font-weight: 400;
              text-align: center;
            }
          }
          &__images {
            flex: 1;
            text-align: left;
            position: relative;
            height: 48px;
            max-width: 80%;
            overflow-x: scroll;
            overflow-y: hidden;
            .goods_image {
              position: absolute;
              width: 48px;
              height: 48px;
              border: 2px solid #fff;
              box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
              border-radius: 50%;
            }
          }
          &__express {
            width: 64px;
            height: 24px;
            padding: 10px;
            box-sizing: content-box;
          }
        }
        .ticket__row_last {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }

      .ticket__detail {
        flex: 1;
        overflow: hidden;

        .ticket__spu_detail {
          border-bottom: 2px dashed #d4d4d4;

          &__scroll {
            width: 100%;
          }

          &_container {
            border: 2px solid #e6e6e6;
            width: calc(100% + 110px);
            position: relative;

            &--bottom {
              width: 100%;
            }
          }

          &__modal {
            position: absolute;
            bottom: 0;
            height: 58px;
            width: 100%;
            background: linear-gradient(
              to bottom,
              rgba(255, 255, 255, 0),
              rgba(255, 255, 255, 1) 70%
            );
            z-index: 2;
          }

          &__row {
            display: flex;
            color: #9b9b9b;
            font-size: 20px;
            text-align: center;
            border-bottom: 2px solid #e6e6e6;

            &--no-border {
              border-bottom: none;
            }

            .row_item {
              flex: 1 0;
              height: 58px;
              display: flex;
              align-items: center;
              justify-content: center;

              &--id {
                // width: 200px;
                flex-basis: 80px;
              }

              &--name {
                // width: 150px;
                flex-basis: 40px;
              }

              // &--count {
              //   // width: 110px;
              // }
              // &--num {
              //   // width: 110px;
              // }
              // &--price {
              //   // width: 110px;
              // }
              // &--discount {
              //   // width: 110px;
              // }
              // &--total {
              //   // width: 110px;
              // }
              &--rem {
                // width: 150px;
                flex-basis: 30px;
              }

              &__img {
                width: 36px;
                height: 36px;
                margin-left: 8px;
              }
            }
          }

          &__row.ticket__spu_detail__header {
            background-color: #f6f6f6;
            color: #4a4a4a;
            font-weight: 600;
          }

          &__footer {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 68px;
            color: #4a4a4a;
            font-size: 24px;
            line-height: 34px;
          }
        }

        .ticket__summary {
          height: 184px;
          width: 100%;
          border-bottom: 2px dashed #d4d4d4;
          padding: 40px 0;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          // flex-wrap: wrap;
          justify-content: space-between;
          text-align: left;

          &__line {
            display: flex;
            justify-content: space-between;
          }

          &_item {
            color: #4a4a4a;
            font-size: 26px;
            line-height: 36px;

            // &--first {
            // margin-right: 60px;
            // }

            &__price {
              color: $theme-color;
            }
          }
        }

        .ticket__footer {
          padding-top: 40px;
          color: #999999;
          font-size: 26px;
          padding-bottom: 34px;

          .tips {
            font-size: 20px;
          }

          &__row {
            display: flex;
            text-align: left;
            margin-top: 38px;

            .row__normal {
              color: #4a4a4a;
              min-width: 80px;
            }
          }

          &__qrs {
            display: flex;
            width: 100%;
            // padding: 0 50px;
            box-sizing: border-box;
            justify-content: space-between;
            align-items: stretch;
            margin-bottom: 42px;
            margin-top: 56px;

            .qr_container {
              // height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              flex: 1 0 0;
              white-space: pre-wrap;
              width: 50%;

              .qr {
                width: 150px;
                height: 150px;
                margin-bottom: 16px;
              }
            }
          }
        }
      }
    }
  }
}

.ticket__custom{
  position: absolute;
  left: 12px;
  top: 12px;
  font-size: 22px;
  color: $normal-text-color;
}

@keyframes fadeInBlur {
  0% {
    opacity: 0;
    filter: blur(80px);
  }

  100% {
    opacity: 0.45;
    filter: blur(0);
  }
}
