.search_shop {
  padding-bottom: 30px;
  @include border-bottom-1px(#f4f4f4);
}

.shop_cell {
  display: flex;
  height: 180px;
  box-sizing: border-box;
  padding: 30px 0;
  background-color: white;

  &__logo {
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 30px;
  }
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 24px;
    color: $normal-text-color;
    line-height: 1;
    max-width: 520px;
    // align-items: center;
    &__title {
      font-size: 32px;
      color: $title-color;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &__line {
      display: flex;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &--phone {
        color: $blue;
      }
    }
  }
}

.line__image {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  margin-right: 4px;
}

.rem {
  position: relative;
  padding: 24px;
  background-color: $bg-color;
  color: $normal-text-color;
  font-size: 24px;
  line-height: 1;
  &__angle_top {
    position: absolute;
    border: 16px solid transparent;
    border-left-width: 14px;
    border-right-width: 14px;
    border-bottom-color: $bg-color;
    top: 0;
    transform: translateY(-100%);
    left: 60px - 14px;
  }
}
