.page {
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card {
    padding: 40px 24px 24px 24px;
    background-color: white;
    border-radius: 28px;
    margin-bottom: 24px;
}

.label {
    margin: 10px 0;
    font-size: $font26;
    color: $subTitle-color;
}

.hint {
    margin: 15px 0;

    &__title {
        margin-bottom: 5px;
        font-size: 30px;
        color: #222222;
        font-weight: 500;
    }

    &__desc {
        font-size: $font26;
        color: $normal-text-color
    }
}

.baseinfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__avatar {
        margin: 20px 0 30px 0;
    }
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;

    &__label {
        width: 25%;
        color: $title-color;
        font-weight: 500;
    }

    &__input {
        flex-grow: 1;
        width: 65%;
        color: $normal-text-color;
        text-align: left;
    }

    &__suffix {
        width: 10%;
        color: $normal-text-color;
        text-align: right;

        &__icon {
            width: 30px;
            height: 30px;
        }
    }
}

.bar {
    position: sticky;
    bottom: 0px;
    padding: 10px;
    background-color: white;
    z-index: 2;

    &__submit {
        padding: 20px;
        margin: 0 20px 40px;
        color: white;
        background-color: $theme-color;
        border-radius: 30px;
    }
}