.selectmenu {
    position: relative;
    padding: 40px;

    &__head {
        display: flex;
        justify-content: space-between;
        color: $blue;
    }


    &__content {
        color: black
    }
}