/**
 * @author GaoYuJian
 * @create date 2019-02-23
 * @desc
*/

.filter-range-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 32px;
  padding-top: 40px;
  background-color: white;
}

.filter-range-view__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.filter-range-view__header__title {
  font-size: 30px;
  color: #222222;
}
.filter-tag-view__tags {
  display: flex;
  flex-wrap: wrap;
}

.picker {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.filter-range-view__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.filter-range-view__main__input {
  background: white;
  width: 230px;
  height: 64px;
  border-radius: 32px;
  font-size: 30px;
  color: #222222;
  text-align: center;
  border: 1px solid #cccccc;
}

.filter-range-view__main__input:last-child {
  margin-right: 22px;
}

.filter-rang-view__main__divider {
  background: #c2c2c2;
  height: 2px;
  width: 20px;
}

.filter-tag-view__divider {
  background: #cccccc;
  height: 1px;
  opacity: 0.3;
}

.text {
  font-size: 30px;
  color: #cccccc;
  text-align: center;
}
.has_text {
  font-size: 30px;
  color: #222222;
  text-align: center;
}
.filter-range-view__main__picker {
  background: white;
  width: 230px;
  height: 64px;
  border-radius: 32px;
  font-size: 30px;
  color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc;
}

.filter-range-view__main__picker:last-child {
  margin-right: 22px;
}
