.rem_c {
  background-color: white;
  padding: 16px;
  border-radius: 10px;
  .rem {
    width: 100%;
    padding: 24px 20px;
    font-size: 28px;
    height: 160px;
    box-sizing: border-box;
    background-color: $bg-color;
    border-radius: 8px;
    color: $normal-text-color;
    &--input {
      color: $subTitle-color;
    }
  }
}

.button {
  padding: 10px 40px;
  background-color: white;
}

.modal {
  padding: 40px;
  position: relative;
  // margin: 0 auto;
  // width: 670px;
  // height: 220px;
  // box-sizing: border-box;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // background-color: white;
  // border-radius: 8px;
  &_input {
    padding: 24px 76px 24px 20px;
    font-size: 28px;
    height: 194px;
    width: 100%;
    box-sizing: border-box;
    background-color: $bg-color;
  }
  .input_confirm {
    position: absolute;
    right: 40px;
    top: 40px;
    color: $blue;
    font-size: 24px;
    padding: 24px;
  }
}

.transparent {
  background-color: transparent;
}
