.bar {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100px;
    width: 100vw;
    box-sizing: border-box;

    &__btn {
        padding: 10px;
        background-color: transparent;
        font-size: 34px;
        color: #2e6be6;
    }
}