/**
 * @author lgl
 * @create date 2018-12-17
 * @desc
*/

:host {
  display: flex;
  flex: 1;
  width: 100%;
}

.list_container_view {
  display: flex;
  flex: 1;
  background-color: $bg-color;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  .at_last_text_view {
    background-color: $bg-color;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    height: 40px;
    margin-top: 40px;
    .at_last_text {
      line-height: 1;
      color: $subTitle-color;
      align-items: center;
      font-size: 24px;
    }
  }
  .at_last_text_view_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-color;
  }
}
