.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 26px;
  color: $title-color;
  border-bottom: 1px solid #f4f4f4;
}

.content {
  padding: 32px 32px 5px;
}

.tips {
  font-size: 26px;
  color: $normal-text-color;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0;
  .option {
    width: 152px;
    height: 72px;
    background: #f7f7f7;
    border-radius: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $subTitle-color;
    font-size: 30px;
    &--checked {
      color: $theme-color;
      background-color: rgba($color: $theme-color, $alpha: 0.1);
    }
  }
}

.check_img {
  display: flex;
  align-items: center;
  font-size: 26px;
  color: $subTitle-color;
  margin-bottom: 54px;
}

.check_icon {
  width: 36px;
  height: 36px;
  margin-right: 16px;
}

.button {
  max-width: 100%;
}