.switch_item_view_center {
  width: 100%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &_item {
      width: 90%;
      // height: 130px;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_first {
        display: flex;
        flex-direction: column;
        line-height: 55px;
        &_gray {
          color: #999999;
          font-size: 26px;
        }
      }
    }
}
.righticon {
  width: 50px;
  height: 50px;
}
.selectText {
  display: flex;
  align-items: center;
}