.contanier {
  flex: 1;
  padding: 0 24px;
  background-color: #f7f7f7;
  font-size: 30px;
}
.info {
  // height: 146px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 20px;
  &__title {
    line-height: 42px;
    margin-bottom: 4px;
  }
  &__remind {
    color: #999999;
    font-size: 26px;
    line-height: 32px;
  }
  &__btn {
    width: 100px;
    height: 56px;
    border-radius: 8px;
    border: 0.5px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    &--save {
      @extend .info__btn;
      background-color: #2E6BE6;
      color: #fff;
      border: none;
    }
  }
}
.list {
  flex: 1;
  &__item {
    height: 100px;
    border-radius: 8px;
    background-color: #fff;
    padding-left: 32px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    &__btn {
      width: 100px;
      height: 56px;
      border-radius: 8px;
      border: 0.5px solid #dddddd;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 26px;
      background-color: #f7f7f7;
    }
    &__image {
      width: 48px;
      height: 48px;
    }
  }
}
