.page {
  background-color: $bg-color;
  height: 100%;
  color: $title-color;
}

.container {
  padding-top: 30px;
}

.title {
  color: $normal-text-color;
  margin-left: 40px;
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 20px;
}

.cell {
  display: flex;
  height: 180px;
  padding: 30px 40px;
  box-sizing: border-box;
  background-color: #fff;

  &__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
  }
  &__content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .right_icon {
      width: 40px;
      height: 40px;
    }
    
  }
  &__info {
    &__name {
      font-size: 32px;
      line-height: 1;
      margin-bottom: 24px;
    }
    &__phone {
      display: flex;
      align-items: center;
      color: $normal-text-color;
      font-size: 24px;
      .phone_icon {
        width: 28px;
        height: 28px;
        margin-right: 4px;
      }
    }
  }
}