.goods_info__basic {
  padding: 20px 0;
  // max-height: 226px;
  display: flex;
  position: relative;
  flex-direction: column;
  .price_text {
    vertical-align: middle;
    color: $theme-color;
    font-size: $font24;
    .price_text__number {
      font-weight: 600;
      font-size: 50px;
      line-height: 72px;
    }
  }

  .last_price {
    width: 74px;
    height: 32px;
    margin-left: 8px;
  }
  .price_through {
    vertical-align: bottom;
    color: $subTitle-color;
    font-size: $subcontent-font;
    text-decoration: line-through;
    margin-left: 20px;
    line-height: 42px;
    padding-top: 8px;
  }

  .goods_tag {
    background-color: #ff669914;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 12px;
    color: $active-color;
    font-size: $small-text-font;
  }

  .goods_price_line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .stock_text {
      font-size: 24px;
      color: $normal-text-color;
      line-height: 36px;
    }
  }

  .start_buy_nums_container {
    display: flex;
    // width: 140px;
    height: 36px;
    background: $label-bg;
    border-radius: 18px;
    align-items: center;
    justify-content: center;
    padding: 0 14px;
    margin-left: 20px;
    .start_buy_nums {
      font-size: $font20;
      color: $normal-text-color;
    }
  }

  .des_container {
    position: relative;
    margin: 8px 0 16px;
    .sex_icon {
      width: 32px;
      height: 32px;
      margin-right: 16px;
    }
    .name_text {
      max-width: 580px;
      font-size: $font30;
      line-height: 42px;
      color: $title-color;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      word-break: break-all;
    }
  }
  .industries_specifications {
    display: flex;
    flex-wrap: wrap;
    &__item {
      padding: 5px 20px;
      background-color: #f7f7f7;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      color: #999;
      border-radius: 10px;
      margin-left: 10px;
      margin-bottom: 15px;
    }
  }
  .spu_code {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    font-size: $font30;
    line-height: 42px;
    color: $subTitle-color;
    .sub_title {
      font-size: 24px;
      padding: 4px 10px;
      color: $theme-color;
      background-color: #ffe5e9;
      border-radius: 7px;
      margin-left: 20px;
    }
    .weight_str {
      display: flex;
      flex: 1;
      align-items: flex-end;
      justify-content: flex-end;
      font-size:24px;
      color: $normal-text-color;
      line-height:34px;
    }
  }
  .share_view {
    position: absolute;
    width: 110px;
    height: 56px;
    right: -40px;
    background-color: transparent;
    border-radius: 0;
    // bottom: 30px;
    top: 0;
    .share_view__text {
      width: 110px;
      height: 56px;
    }
  }

  // new styles -----------------------------------------
  .des_container_new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    .sex_icon {
      width: 32px;
      height: 32px;
      margin-right: 16px;
    }
    .info {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: #222222FF;

      &_price {
        display: flex;
        align-items: flex-end;
        font-size: 30px;

        &_number {
          margin: 0 10px;
          font-size: 50px;
          font-weight: 500;
          font-family: ProductSans-Regular, ProductSans;
          vertical-align: bottom;
        }
      }
      &_name {
        margin-bottom: 10px;
        max-width: 580px;
        font-size: 34px;
        font-weight: 500;
        color: $title-color;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        word-break: break-all;
      }

      &_code {
        font-size: $font26;
        color: #666666FF;
      }
    }
    &_line {
      height: 38px;
      width: 1px;
      margin: 0 40px;
      background-color: #E8E8E8FF;
    }

    .stock {
      display: inline-block;
      margin: 0 10px;
      padding: 4px;
      font-size: 26px;
      color: #FF5050FF;
      background-color: #FF50500D;
    }
  }
  .share_view_new_wrap {
    display: flex;
    align-items: center;
  }
  .share_view_new {
    width: 54px;
    // height: 76px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &__icon {
      width: 54px;
      height: 54px;
      margin-bottom: 14px;
    }
  
    &__text {
      font-size: 22px;
    }
  }

  .specifications_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
    &_label {
      margin-right: 20px;
      margin-bottom: 10px;
      font-size: 26px;
      color: $normal-text-color;
      white-space: nowrap;
    }
    &_industries {
      display: flex;
      flex-wrap: wrap;
  
      &__item {
        margin-right: 20px;
        margin-bottom: 10px;
        padding: 5px 10px;
        background-color: #f7f7f7;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: #999;
        border-radius: 10px;
      }
    }
  }
}

.divid_line {
  margin: 32px 0;
  width: 100%;
  @include border-bottom-1px($border-color);
}
