.BackLeftIcon {
  width: 37px;
  height: 37px;
}
.back_view {
  // width: 172px;
  height: 64px;
  position: fixed;
  left: 24px;
  z-index: 2001;
  border-radius: 50px;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 0 20px;
  font-size: 26px;
}

.landscapeWrapper {
  position: relative;
  padding: 35px 22px;
  background-color: #fff;
  font-family: SourceHanSansCN-Normal, SourceHanSansCN, sans-serif;
  color: #333;
  font-size: 28px;
  font-weight: 400;
  overflow: hidden;

  .tip {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    width: calc(100vw - 80px);
    height: 88px;
    text-align: center;
    background: rgba(242, 80, 61, 0.1);
    font-size: 28px;
    color: #f2503d;
    font-weight: 400;
  }

  .comp_info {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $bg-color;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 6px;

    &__angle {
      width: 0;
      height: 0;
      position: absolute;
      left: 37.5%;
      top: -25px;
      transform: translateX(-15px);
      border: 15px solid transparent;
      border-bottom-color: $bg-color;
    }
  }

  .cloud_info {
    // padding: 16px 30px 0px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: #f9f9f9;
    overflow: hidden;
    font-size: 28px;

    &__header {
      display: flex;
      align-items: center;
      padding: 20px;
      background: linear-gradient(360deg, #f5f5f5 0%, #f9f9f9 100%);
      color: $normal-text-color;

      &__flag {
        font-size: 24px;
        display: inline-block;
        color: #cc6900;
        padding: 0 4px;
        margin-right: 16px;
        background: linear-gradient(180deg, #ffdb87 0%, #ffd663 100%);
        border-radius: 4px;
      }
    }

    &__list {
      padding: 20px;
      font-size: 24px;
      // overflow: hidden;
    }

    &__item {
      display: inline-block;
      // justify-content: space-between;
      // align-items: center;
      // margin-bottom: 20px;
      padding: 0 16px;
      color: $blue;
      text-decoration: underline;

      // margin-right: 10px;
      &__btn {
        color: $blue;
      }
    }
  }

  .express_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 88px;
    background: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 20px;
    color: $normal-text-color;

    &__logis_no {
      color: $title-color;
    }

    &__highlight {
      color: $blue;
    }
  }

  .ticketTop {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .topLeft {
      display: flex;
      align-items: center;
      color: #333;
      font-size: 49px;
      font-weight: 400;

      &__logo {
        position: relative;
        width: 80px;
        height: 80px;
        margin-right: 10px;

        .mall_logo {
          width: 80px;
          height: 24px;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }

      .shopLogoUrl {
        width: 100%;
        height: 100%;
        border-radius: 40px;
        overflow: hidden;
      }

      .shopTitle {
        flex: 1;
        height: 71px;
        line-height: 71px;
        overflow-x: scroll;
      }
    }

    .toggle_btn {
      display: flex;
      align-items: center;

      &__main {
        background-color: transparent;
        display: flex;
        align-items: center;
        color: $subTitle-color;
      }

      &__icon {
        width: 32px;
        height: 32px;
      }
    }

    .topRight {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: #f2503d;
      font-size: 31px;

      .cloud_btn {
        width: 176px;
        height: 70px;
        margin-left: 10px;
      }

      .allTicket,
      .saveQrCode,
      .saveQrCodeHide {
        width: 137px;
        padding: 0 20px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        background: rgba(242, 80, 61, 0.05);
        border-radius: 35px;
        margin-left: 10px;
        color: #f2503d;
        font-size: 31px;
        box-sizing: content-box;
      }

      .header_goshop__view {
        padding: 16px 24px;
        font-size: 26px;
        color: #e62e4d;
        line-height: 26px;
        display: flex;
        align-items: center;
        border-radius: 32px;
        background-color: rgba($color: #ffe6ea, $alpha: 0.6);
        margin-left: 20px;
        &__icon {
          width: 24px;
          height: 24px;
          margin-right: 6px;
        }
      }

      &--2 {
        color: #ff9933;

        .allTicket,
        .saveQrCode {
          background-color: rgba(255, 153, 51, 0.1);
        }
      }

      .saveQrCodeHide {
        z-index: 10;
        background-color: #fff;
      }
    }
  }

  %btn {
    position: fixed;
    right: 22px;
    top: 90%;
    // bottom: calc(120px + #{$iphoneX_bottom_old});
    // bottom: calc(120px + #{$iphoneX_bottom});
    width: 176px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 36px;
    background: linear-gradient(180deg, rgba(147, 199, 255, 1) 0%, rgba(90, 149, 255, 1) 100%);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    color: white;
    z-index: 10;
    transition: right ease 0.5s;

    .icon {
      width: 32px;
      height: 32px;
      margin-right: 8px;
    }
  }

  .download_btn {
    @extend %btn;

    &--hide {
      right: -128px;
    }
  }

  .cart_btn {
    @extend %btn;

    &--hide {
      right: -128px;
    }

    top: calc(90% - 80px);
    background: linear-gradient(180deg, rgba(255, 168, 171, 1) 0%, rgba(255, 111, 114, 1) 100%);
  }

  .jump_btn {
    @extend %btn;
    top: calc(90% - 80px);
    background: linear-gradient(180deg, #fd6339 0%, #ff392e 100%);

    &--hide {
      right: -128px;
    }
  }

  .baseInfo {
    padding: 35px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .baseInfoItem {
      flex: 1;
      overflow: hidden;
    }

    .baseInfoDate {
      margin-left: 15px;
    }

    .itemTitle {
      text-align: center;
      font-size: 24px;
    }

    .itemBot {
      margin-top: 10px;
      text-align: center;
      color: #333;
      font-size: 29px;
      white-space: nowrap;
      overflow-x: scroll;
      font-weight: 400;

      &--highlight {
        font-weight: 500;
      }

      &--big {
        font-size: 40px;
      }
    }
  }

  .listItem {
    margin-bottom: 22px;
    padding: 22px;
    background-color: #f9f9f9;
    border-radius: 11px;

    .listTop {
      display: flex;
      position: relative;

      .itemImgCover {
        width: 177px;
        height: 177px;
        border-radius: 8px;
        overflow: hidden;
      }

      .replenish_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 24px;
        width: 48px;
        height: 48px;
        background: linear-gradient(360deg, #ff595e 0%, #ff9395 100%);
        border-radius: 24px;
        position: absolute;
        right: 0px;
        bottom: 8px;

        &__h {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 20px;
          height: 4px;
          background-color: white;
        }

        &__v {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 4px;
          height: 20px;
          background-color: white;
        }
      }

      .listTopRight {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 197px;
        margin-left: 24px;

        .goodsInfo {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .goodsInfoTop {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .goodsTopLeft {
              flex: 3;
              display: flex;
              align-items: center;

              .iconCover {
                width: 36px;
                height: 36px;
                margin-right: 10px;
              }

              .goodsCode {
                width: 300px;
                white-space: nowrap;
                overflow-x: scroll;
                font-size: 26px;
                color: #333;
              }
            }

            .goodsTopRight {
              flex: 1;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              font-size: 22px;
              font-weight: 500;
              color: #333;
              vertical-align: middle;

              .itemTotalPrice {
                font-size: 26px;
              }

              .orgPrice {
                text-decoration-line: line-through;
                color: $normal-text-color;
                font-size: 20px;
              }
            }
          }

          .goodsName {
            flex: 1;
            width: 400px;
            overflow-y: scroll;
          }

          .goodsPrice {
            flex: 1;
            font-size: 22px;

            .priceNum {
              font-size: 26px;

              .line_t {
                font-size: 22px;
                color: $normal-text-color;
                text-decoration: line-through;
              }
            }
          }
        }
      }
    }

    .listTable {
      width: calc(100vw - 88px);
      overflow-x: scroll;
      margin-top: 24px;
      color: #333;
      font-size: 28px;

      .tableHeader,
      .tableRow {
        display: flex;
        text-align: center;

        .tableHeaderCellFirst,
        .tableHeaderCell,
        .tableCellFirst,
        .tableCell {
          background-color: #fff;
          flex: 1;
          height: 44px;
          line-height: 44px;
          overflow-x: scroll;
        }

        .tableHeaderCell,
        .tableCell {
          margin-left: 2px;
        }

        .tableCellFirst,
        .tableCell {
          margin-top: 2px;
        }
      }

      .tableRow {
        display: flex;
        text-align: center;

        .tableCell {
          margin-left: 2px;
        }
      }
    }
  }

  .listBot {
    margin-top: 22px;
    padding: 22px;
    background-color: #f9f9f9;
    border-radius: 11px;
    text-transform: capitalize;

    .total {
      display: flex;
      justify-content: space-between;

      .totalBot {
        color: #333;

        &--big {
          font-size: 40px;
        }
      }
    }
  }

  .list_new_style_title {
    font-weight: 500;
    line-height: 80px;
    padding-top: 12px;
    padding-left: 16px;
  }

  .list_new_style_c {
    border: 2px solid #eee;
    border-radius: 8px;
  }

  .list_new_style {
    // text-align: left;
    border: 2px solid #eee;
    border-radius: 8px;
    white-space: nowrap;
    overflow-x: scroll;
    display: flex;

    &--verify {
      border: none;
      border-radius: 0;
    }

    &__col {
      flex: 1;
      // display: inline-block;
      vertical-align: top;

      .line_t {
        text-decoration: line-through;
      }

      &__item {
        padding: 0 10px;
        height: 76px;
        line-height: 76px;
        background-color: white;
        font-size: 24px;
        color: $title-color;
        border-top: 2px solid #eee;

        &:first-child {
          font-size: 26px;
          font-weight: 500;
          color: #bbb;
          background-color: $bg-color;
          border-top: none;
        }
      }
    }

    &__sum {
      line-height: 70px;
      font-size: 24px;
      border-top: 2px solid #eee;
      text-align: left;
      padding-left: 40px;
    }
  }

  .moneyInfo {
    margin-top: 22px;
    padding: 22px;
    background-color: #f9f9f9;
    border-radius: 11px;
    text-transform: capitalize;

    .moneyItem {
      display: flex;
      justify-content: space-between;

      .money {
        color: #333;
      }
    }
  }

  .detailInfo {
    margin-top: 22px;
    padding: 22px;
    background-color: #f9f9f9;
    border-radius: 11px;
    text-transform: capitalize;

    .detailItem {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .detail {
        margin-left: 20px;
        white-space: nowrap;
        overflow-x: scroll;
        flex: 1;
        text-align: end;
        color: #333;

        &--clickable {
          color: $blue;
        }
      }

      .detail_2_row {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      // .account_detail {
      //   @extend .detail;
      //   white-space: pre-line;
      // }
    }
  }

  .qrCodeImage {
    margin-top: 22px;
    display: flex;
    background-color: #fee6e8;

    .qrCodeLeft,
    .qrCodeRight {
      height: 221px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .qrCodeLeft {
      width: 222px;
      border-radius: 11px 0 0 11px;
      position: relative;

      .qrCodeCover {
        width: 180px;
        height: 180px;
      }
    }

    .qrCodeRight {
      // width: 560px;
      flex: 1;
    }
  }

  .companyInfo {
    margin-top: 44px;
    text-align: center;

    .companyLogo {
      margin: 0 auto;
      width: 223px;
      height: 46px;
    }

    .companyTel {
      margin-top: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #999;
      font-size: 26px;

      .telLeft,
      .telRight {
        width: 71px;
        height: 2px;
      }

      .telLeft {
        margin-right: 20px;
      }

      .telRight {
        margin-left: 20px;
      }
    }
  }

  .qrCodeCover {
    width: 416px;
    height: 416px;
  }


  .closeIcon {
    position: fixed;
    top: 17vh;
    right: 34px;
    font-size: 56px;
    color: #fff;
  }

  .goodsDetail {
    position: fixed;
    top: 25vh;
    left: 44px;
    padding: 42px 38px 57px;
    width: 594px;
    height: 508px;
    background: #fff;
    border-radius: 8px;
    font-size: 16px;

    .goodsDetailTitle {
      padding: 0 14px;
      color: #333;
      font-size: 31px;
    }

    .goodsDetailInfo {
      display: flex;
      margin: 8px 14px 40px;
      height: 180px;

      .imgCover {
        margin-right: 24px;
        width: 180px;
        height: 180px;
        border-radius: 8px;
        overflow: hidden;
      }

      .modalDetail {
        font-size: 26px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .modalGoodsName {
          margin-bottom: 16px;
          color: #333;
          // height: 46px;
          line-height: 46px;
          // overflow: scroll;
          font-size: 31px;
        }

        .code {
          height: 36px;
          line-height: 36px;
          overflow: scroll;
        }
      }
    }

    .modalGoodsInfo {
      padding: 0 14px;
      display: flex;
      font-size: 26px;

      .modalInfoItem {
        flex: 1;

        .modalItemTitle,
        .modalItemTitleBot {
          font-size: 44px;
          margin-top: 10px;
          color: #333;
        }

        .modalItemTitleBot {
          margin-top: 10px;
        }
      }
    }
  }

  .separateLine {
    border-top: 2px dashed #eee;
  }

  .play_btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
  }
}

.guide_container {
  background: transparent;
  display: flex;
  align-items: center;

  justify-content: center;
}

.guide {
  position: relative;
  width: 610px;
  height: 964px;

  &__btn {
    position: absolute;
    width: 256px;
    height: 72px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and(min-width: 768px) {
  .cloud_guide {
    .close {
      margin-right: 25px;
      padding: 5px;
    }

    &__img {
      width: 305px;
      height: 506px;
    }

    &__btns {
      bottom: 20px;
    }

    &__btn {
      width: 127px;
      height: 36px;
      font-size: 17px;
      border-radius: 18px;
    }
  }
}

.download_images {
  padding: 20px;
  border-radius: 24px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
  margin-top: 20px;

  &__header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    height: 56px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      height: 34%;
      width: 6px;
      border-radius: 2px;
      background: linear-gradient(to bottom, $theme-color, #e62e4d);
    }
  }

  &__label {
    font-weight: 500;
    color: $title-color;
    font-size: 28px;
  }

  &__btn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e62e4d;
    color: #fff;
    font-size: 24px;
    line-height: 56px;
    padding: 0 16px;
    border-radius: 28px;

    &__icon {
      width: 24px;
      height: 24px;
      margin-right: 6px;
    }
  }

  &__items {
    width: 100%;
    overflow-x: scroll;
  }

  &__item {
    display: inline-block;
    width: 22%;
    margin-right: 16px;
    text-align: center;
    overflow: hidden;

    &__img_wrapper {
      position: relative;
      width: 100%;
      padding-bottom: 100%;
      border-radius: 10px;
      overflow: hidden;
      margin: 16px 0 16px;
    }

    &__img {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    &__count {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 2px 14px;
      border-radius: 0 10px 0 0;
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      font-size: 20px;
      line-height: 20px;
    }

    &__label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 26px;
      color: $title-color;
    }
  }
}

.drop {
  width: 20px;
  height: 20px;
  position: fixed;
  animation: drop 2.3s ease 0 1;
  background-color: $theme-color;
  border-radius: 50%;
  // transition: top .3s cubic-bezier();
  transition: top 0.3s cubic-bezier(0.49, -0.4, 0.81, 1), right 0.3s cubic-bezier(0, 0.88, 0, 1);
  // animation: moveInX 0.3s cubic-bezier(0, 0.59, 0.9, 0.81);
  // animation: moveInX .3s ease;

  right: 44px;
}


@keyframes moveInX {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(15px);
  }
}

.cloud_bill_goods {
  border-radius: 24px;
  padding: 8px;
  margin-top: 12px;

  &__title {
    color: $title-color;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    padding: 32px 0;
  }

  &__list {
    background: #fff;
    border-radius: 20px;
    padding-bottom: 12px;

    &__header {
      position: relative;
      display: flex;
      align-items: center;
      padding: 24px 32px;
      font-size: 30px;
      color: $title-color;

      &__logo {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 16px;
      }

      &__label {
        font-weight: 500;
      }

      &__right {
        display: flex;
        align-items: center;
        position: absolute;
        right: 20px;
        color: $normal-text-color;
      }

      &__angle {
        width: 40px;
        height: 40px;
      }
    }

    &__content {
      &__all_btn {
        background-color: $bg-color;
        color: $title-color;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        font-weight: 500;
        padding: 18px 0;
        margin: 0 32px;
        border-radius: 16px;
      }

      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
        padding-right: 32px;
      }

      &__main {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -12px;
        padding: 0 32px;
      }

      &__goods {
        // width: 26%;
        // margin: 0 12px;
        padding: 0 12px;
        flex: 0 1 33.33%;
        box-sizing: border-box;
        margin-bottom: 24px;

        &_img_wrapper {
          position: relative;
          padding-bottom: 100%;
          margin-bottom: 16px;
          border-radius: 12px;
          overflow: hidden;
        }

        &_img {
          position: absolute;
          width: 100%;
          height: 100%;
        }

        &__label {
          font-size: 26px;
          line-height: 26px;
        }
      }
    }
  }
}

.more_tip {
  color: $blue;
  text-align: center;
  margin-top: 6px;
}

.new {
  position: relative;
  font-size: 20px;
  color: #6b2b18;
  margin-top: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  height: 28px;
  background-color: #ffe5db;
  border-radius: 14px;
  overflow: hidden;

  &__flag {
    background: linear-gradient(137deg, #fadcd0 0%, #f9ab96 100%);
    color: #6b2b18;
    font-size: 16px;
    border-radius: 14px;
    padding: 0 8px;
    // box-sizing: border-box;
    margin-right: 4px;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.49);
  overflow: hidden;
  z-index: 1;
}

.new_ticket_guide {
  @extend .modal;
  // filter: blur(100px);
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  &__angle {
    position: absolute;
    left: 60px;
    top: -40px;
    width: 0;
    height: 0;
    border: 60px solid transparent;
    border-left-color: #fff;
    z-index: -1;
  }
  &__main {
    width: 610px;
    // height: 996px;
    background: #f5f5f5;
    border-radius: 40px;
    position: relative;
    top: -20px;
  }
  &__header {
    font-weight: 500;
    color: #e62e4d;
    font-size: 34px;
    text-align: center;
    padding: 32px 0;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    &__subtitle {
      font-size: 26px;
      font-weight: 400;
      line-height: 36px;
      margin-top: 12px;
      color: $subTitle-color;
    }
  }
  &__content {
    height: 726px;
    padding: 32px 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    &__img {
      width: 470px;
      height: 1106px;
      margin: 0 auto;
      animation: slideup linear 4s 1s infinite alternate;
    }
  }
  &__bottom {
    @extend .center_item;
    background-color: #fff;
    padding: 24px;
    border-radius: 0 0 20px 20px;
    &__button {
      @extend .center_item;
      color: #fff;
      padding: 14px 32px;
      font-size: 26px;
      font-weight: 500;
      background: linear-gradient(137deg, #ff788f 0%, #e62e4d 100%);
      border-radius: 40px;
    }
  }
}

.center_item {
  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes slideup {
  0% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(-34%);
  }

  100% {
    transform: translateY(-34%);
  }
}