.goods_cell {
  width: 100%;
  height: 168px;
  background: #FFFFFF;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  &__image {
    width: 128px;
    height: 128px;
    border-radius: 14px;
  }

  &__content {
    width: 400px;
    height: 100%;
    margin-left: 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    &__goodsName {
      font-size: 26px;
      color: #222;
      font-weight: 400;
      @extend .text_overflow;
    }

    &__goodsCode {
      font-size: 26px;
      color: #666666;
      @extend .text_overflow;
    }

    &__goodsPrice {
      font-weight: 500;
      font-size: 34px;
      color: #E62E4D;
      @extend .text_overflow;
    }
    &__linethrough {
      font-weight: 500;
      font-size: 28px;
      color: #666;
      text-decoration: line-through;
      margin-left: 8px;
    }
  }

  &__actionView {
    display: flex;
    position: absolute;
    right: 20px;
    bottom: 20px;
    &__action {
      height: 54px;
      padding: 0 20px;
      background: #F7F7F7;
      border-radius: 8px;
      border: 1px solid #DDDDDD;
      margin-left: 12px;
      font-size: 26px;
      color: #222;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.text_overflow {
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sort_icon {
  width: 48px;
  height: 48px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}