:host {
  display: flex;
  flex: 1;
}

.order_container {
  width: 100%;
  position: relative;
  .order {
    height: 88px;
    // display: flex;
    // flex-direction: row;
    // text-align: center;
    white-space: nowrap;
    overflow-x: scroll;
    width: auto;
    display: flex;
    justify-content: space-around;
    // box-sizing: border-box;
    // width: 100%;
    &_item {
      display: inline-block;
      position: relative;
      padding: 0 40px;
      font-size: $font30;
      line-height: 88px;
      color: $subTitle-color;
      text-align: center;
      &--active {
        color: $title-color;
        font-weight: bold;
      }
    }
    .caret {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 10px;
      top: 34px;
      transition: transform ease-in-out 0.3s;
      transform: rotateZ(0deg);
      &--up {
        transform: rotateZ(-180deg);
      }
    }
    &__filter {
      position: absolute;
      top: 0;
      right: 0;
      // height: 100%;
      line-height: 88px;
      width: 140px;
      color: $blue;
      font-size: $font30;
      text-align: center;
      background-color: white;
      &__shadow {
        // box-shadow: -10px 0px 5px rgba(204, 204, 204, 0.3);
        position: absolute;
        left: -14px;
        height: 76px;
        top: 6px;
        width: 14px;
        // background-color: transparent;
      }
    }
  }
  .order_white {
    background-color: transparent;
    .order_item {
      color: rgba(255, 255, 255, 0.7);
    }
    .order_item--active {
      color: rgba(255, 255, 255, 1);
    }
  }
}



