/**
 * @author GaoYuJian
 * @create date 2018-12-06
 * @desc
*/

.v_button {
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .v_button_image {
    }
  }
}
