.vertical_center {
  display: flex;
  align-items: center;
}

.statement_container {
  color: $title-color;
  // height: 100%;
  .header {
    z-index: 10;
    position: relative;
    // @extend .vertical_center;
    // justify-content: space-between;
    height: 104px;
    padding: 0px 20px 0 0;
    box-sizing: border-box;
    background-color: $bg-color;
    .caret_down {
      width: 32px;
      height: 32px;
      margin-left: 8px;
    }
    .date {
      @extend .vertical_center;
      white-space: nowrap;
      font-size: 26px;
      background-color: #f9f9f9;
      border-radius: 8px;
      padding: 20px 16px;
      line-height: 64px;
      height: 64px;
      box-sizing: border-box;
    }
  }

  .content {
    display: flex;
    // height: calc(100% - 120px);
    &__left {
      // height: calc(100vh - 120px);
      // height: 100%;
      height: 100vh;
      // height: calc(100vh - taro-tabbar-height);
      flex-shrink: 0;
      width: 176px;
      position: sticky;
      overflow-y: scroll;
      // left: 0;
      top: 0;
      background-color: $bg-color;
      transition: width ease-in-out 0.3s;
      &--hide {
        width: 0;
      }
      &--full {
        width: 100%;
      }
      &__search {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 17px;
        // width: 142px;
        height: 64px;
        padding: 12px 16px;
        box-sizing: border-box;
        border-radius: 32px;
        background-color: white;
        
        &__icon {
          flex: 0 0 40px;
          width: 40px;
          height: 40px;
          margin-right: 6px;
        }
        &__input {
          font-size: 28px;
          flex: 1;
        }
        &__cancel {
          color: $blue;
          font-size: 24px;
          padding: 20px;
          line-height: 1;
        }
      }
      &__shop_list {
      }
    }
    &__right {
      overflow: hidden;
      background-color: white;
      // padding-left: 176px;
      flex: 1;
      &--hide {
        display: none;
      }
    }
    .hideShopList {
      z-index: 2;
      position: fixed;
      bottom: 200px;
      left: 176px;
      width: 88px;
      height: 71px;
      line-height: 71px;
      text-align: center;
      background: rgba(255, 255, 255, 0.9);
      box-shadow: 4px 0px 9px 0px rgba(0, 0, 0, 0.1);
      border-radius: 0px 44px 44px 0px;
      transition: left ease-in-out 0.3s;
      &--hide {
        left: 0;
      }
      .hideArrowImg {
        width: 35px;
        height: 35px;
        transition: transform ease-in-out 0.3s;
      }
    }
  }
  .sticky_part {
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 2;
  }
  .list {
    // height: calc(100vh - 88px);
    &__date {
      height: 80px;
      background-color: #f9f9f9;
      color: $normal-text-color;
      font-size: 28px;
      line-height: 80px;
      padding: 0 30px;
    }
  }
  .no_data_wrapper {
    height: calc(100vh - 488px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: $normal-text-color;
    .no_data {
      width: 320px;
      height: 328px;
      margin-bottom: 30px;
    }
  }
}

.feedback {
  position: fixed;
  right: 20px;
  bottom: 300px;
  height: 80px;
  width: 80px;
  border: 2px solid $border-color;
  border-radius: 50%;
  color: $title-color;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
