.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $bg-color;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: $bg-color;
}

.mini_code {
  padding-top: 20px;
  position: relative;
  width: 710px;
  height: 138px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-shrink: 0;
  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
  }
  &__img {
    width: 106px;
    height: 106px;
    margin-right: 20px;
  }
  &__text {
    position: relative;
    font-size: 28px;
    color: $theme-color;
  }
}

.np_container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.np_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
