.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;

    &__image {
        width: 144px;
        height: 144px;
        box-sizing: border-box;
        border-radius: 50%;
        margin-bottom: 15px;
    }

    &__label {
        font-size: $font26;
        color: $normal-text-color
    }
}