.contanier {
  position: relative;
  // width: 100%;
  // height: 100%;
  flex: 1;
  padding: 20px 0px;
  padding-top: 0px;
  background-color: #fff;
  font-family: SourceHanSansCN-Normal, SourceHanSansCN, sans-serif;
  color: #333;
  font-size: 28px;
  font-weight: 400;
  overflow: hidden;
  z-index: 0;

  .bg {
    width: 900px;
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    // top: 80px;
  }

  .bg_logistics {
    height: 530px;
  }

  .topInfo {
    display: flex;
    padding: 0px 20px;
    padding-bottom: 40px;
    padding-top: 20px;
    justify-content: space-between;

    &__tipSingle {
      color: white;
      padding: 20px 0px;
      display: flex;
      align-items: center;
    }

    &__tip {
      color: white;
      padding: 20px 0px;

      &__top {
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      &__bottom {
        font-size: 28px;
      }
    }

    &__btn {
      display: flex;
      justify-content: space-between;
      padding: 40px 0px;

      &__item {
        background-color: transparent;
        width: 160px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 32px;
        border: white solid 1px;
        color: white;
        font-size: 26px;
      }
    }
  }

  .logistics {
    width: 94%;
    height: 88px;
    background: #ffffff;
    border-radius: 14px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 24px;
    font-weight: 400;
    color: #222222;
  }

  .show_logis {
    font-size: 24px;
    font-weight: 400;
    color: #999999;
  }

  .angle_right {
    width: 32px;
    height: 32px;
  }

  .goodsInfo {
    // width: 100%;
    background-color: #fff;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    // height: 1000px;
    padding: 0px 20px;
    &__mainInfo {
      display: flex;
      height: 120px;
      &__item {
        flex: 1 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 28px;
      }
    }
    &__baseInfo {
      padding: 20px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 16px;
      }

      &__right {
        font-size: 26px;
        color: #666;
        display: flex;
        align-items: center;
      }
    }

    &__singleInfo {
      margin-bottom: 20px;
      display: flex;

      &__goodImg {
        width: 160px;
        height: 160px;
      }

      &__info {
        flex: 1;
        display: flex;
        padding: 0px 20px;
        padding-bottom: 20px;
        justify-content: space-between;

        &__left {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        &__right {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: space-between;
        }
      }
    }
  }

  .table {
    background-color: #fff;

    &__sizeHeader {
      display: flex;
      // justify-content: space-evenly;
      @include border-bottom-1px($border-color);
    }

    &__cell {
      flex: 1;
      @include border-left-1px($border-color);
      height: 40px;
      display: flex;
      justify-content: center;
      font-size: 24px;
    }

    &__colorHeader {
      flex: 1;
    }
  }

  .list_new_style {
    // text-align: left;
    border: 2px solid #eee;
    border-radius: 8px;
    white-space: nowrap;
    overflow-x: scroll;
    display: flex;

    // flex-direction: column;
    &--verify {
      border: none;
      border-radius: 0;
    }

    &__col {
      flex: 1;
      // display: inline-block;
      vertical-align: top;

      .line_t {
        text-decoration: line-through;
      }

      &__item {
        padding: 0 10px;
        height: 76px;
        line-height: 76px;
        background-color: white;
        font-size: 24px;
        color: $title-color;
        border-top: 2px solid #eee;

        &:first-child {
          font-size: 26px;
          font-weight: 500;
          color: #bbb;
          background-color: $bg-color;
          border-top: none;
        }
      }
    }

    &__sum {
      line-height: 70px;
      font-size: 24px;
      border-top: 2px solid #eee;
      text-align: left;
      padding-left: 40px;
    }
  }

  .bottom {
    background: #f9f9f9;
    margin: 20px 0px;
    border-radius: 16px;

    &__item {
      padding: 0px 20px;
      height: 54px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  %btn {
    position: fixed;
    right: 22px;
    top: 90%;
    // bottom: calc(120px + #{$iphoneX_bottom_old});
    // bottom: calc(120px + #{$iphoneX_bottom});
    width: 176px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 36px;
    background: linear-gradient(180deg, rgba(147, 199, 255, 1) 0%, rgba(90, 149, 255, 1) 100%);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    color: white;
    z-index: 10;
    transition: right ease 0.5s;

    .icon {
      width: 32px;
      height: 32px;
      margin-right: 8px;
    }
  }

  .jump_btn {
    @extend %btn;
    top: calc(90% - 80px);
    background: linear-gradient(180deg, #fd6339 0%, #ff392e 100%);

    &--hide {
      right: -128px;
    }
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 99;
  }

  .bottomModal {
    // padding: 20px 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 999;
    animation: move linear 0.2s forwards;

    &__card {
      background-color: #f9f9f9;
      border-radius: 28px;
      margin: 0px 20px;
      margin-bottom: 20px;
      padding: 0px 20px;

      &__header {
        display: flex;
        position: relative;
        justify-content: center;
        padding: 32px 0px;

        &__img {
          width: 36px;
          height: 36px;
          position: absolute;
          top: 40px;
          right: 40px;
        }
      }

      &__top {
        display: flex;
        justify-content: space-between;
        padding: 24px 0px;
      }

      &__img {
        display: flex;
        // justify-content: space-evenly;
      }

      &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0px;
      }
    }
  }

  @keyframes move {
    0% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(0);
    }
  }
}

.pay_success {
  width: 88px;
  height: 36px;
  padding: 2px 10px;
  margin-left: 16px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}

.delete_icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
}

.logis_info_mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;

  &__content {
    width: 100%;
    height: 70%;
    background-color: #fff;
    border-radius: 42px 42px 0 0;
    animation: move linear 0.2s forwards;
    box-sizing: border-box;
    padding: 0 32px;
    display: flex;
    flex-direction: column;

    &__header {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      font-size: 28px;
      font-weight: 500;
      color: #222222;
    }

    &__loginList {
      width: 100%;
      min-height: 100px;
      display: flex;
      flex-wrap: wrap;

      &__item {
        width: 160px;
        height: 56px;
        border-radius: 32px;
        background-color: #f7f7f7;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        font-weight: 400;
        color: #666666;
        line-height: 36px;
        margin-right: 10px;
      }

      &__item--active {
        color: #e62e4d;
        border: 1px solid #e62e4d;
        background: #ffffff rgba(230, 46, 77, 0.1);
      }
    }

    &__info {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: 400;
      color: #666666;

      .logis_info_copy {
        padding: 3px 10px;
        background-color: rgba(46, 107, 230, 0.1);
        border-radius: 8px;
        font-size: 22px;
        font-weight: 400;
        color: #2e6be6;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__logis {
      width: 100%;
      flex: 1;
      overflow: scroll;
      box-sizing: border-box;
      padding-bottom: 32px;

      &__send {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 38px;
        margin-bottom: 38px;

        .send_view {
          width: 40px;
          height: 40px;
          background: #e62e4d;
          font-size: 20px;
          font-weight: 500;
          color: #ffffff;
          margin-right: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
        }
      }

      &__item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin: 24px 0;

        &__round {
          width: 8px;
          height: 8px;
          background: #cccccc;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        &__timer {
          min-width: 160px;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 24px;
          font-weight: 400;
          color: #999999;
        }

        &__content {
          flex: 1;
          min-height: 66px;
          background: #f7f7f7;
          border-radius: 16px;
          font-size: 24px;
          font-weight: 400;
          color: #666666;
          box-sizing: border-box;
          padding: 20px;
        }
      }
    }
  }
}
