.goods_list_content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 15px 0 15px;
  &__goodsList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 10px;
  }

  .tabs_viewer {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 15px;
    &__timer {
      font-size: 27px;
      color: #999;
    }
    &__orderTabs {
      // width: 190px;
      height: 47px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      border-radius: 15px;
      background-color: #e5e5e6;

      &___item {
        // width: 50%;
        padding: 0 15px;
        height: 100%;
        font-size: 25px;
        color: #222;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

.goods_item_view {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
  width: 335px;
  position: relative;
  padding-bottom: 20px;

  .goods_album_item_bg {
    width: 100%;
    height: 380px;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__image {
    width: 100%;
    height: 300px;
    position: relative;

    &___goodsImage {
      width: 100%;
      height: 100%;
    }

    .sale_num {
      // width: 160px;
      padding: 0 15px;
      height: 42px;
      position: absolute;
      left: 10px;
      bottom: 10px;
      border-radius: 30px 30px 30px 0;
      background-color: rgba(0, 0, 0, 0.6);
      font-size: 23px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__goodsinfo {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 12px;
    z-index: 1;

    &___styleName {
      max-width: 80%;
      font-size: 28px;
      color: #222;
      text-indent: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-top: 10px;
    }

    &___styleCode {
      max-width: 80%;
      font-size: 26px;
      color: #666;
      text-indent: 15px;
      margin-top: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__shopinfo {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    margin-top: 6px;

    &___shoplogo {
      width: 42px;
      height: 42px;
      border-radius: 50%;
    }

    &___shopName {
      max-width: 195px;
      font-size: 25px;
      color: #222;
      margin-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .take_good_time {
      font-size: 25px;
      color: #999999;
    }
  }
}
