.shop_selector_container {
  padding: 30px 32px;
  .shop_selector_wrapper {
    height: 800px;
  }
  .shop_selector__cell {
    display: flex;
    align-items: center;
    height: 100px;
    line-height: 100px;
    @include border-bottom-1px(#eee);
    &__avatar {
      width: 60px;
      height: 60px;
      border: 2px solid #fff;
      box-sizing: border-box;
      margin-right: 20px;
    }
    &__name {
      color: $title-color;
      font-size: 28px;
    }
    &__active_icon {
      position: absolute;
      right: 0;
      width: 36px;
      height: 36px;
      line-height: 1;
      top: 32px;
    }
  }
}
