.goods_params {
  display: flex;
  flex-direction: column;
  padding: 0 40px 18px;
  width: 100%;
  color: $title-color;
  font-size: $font26;
  box-sizing: border-box;
  .title {
    text-align: center;
    font-size: $font30;
    height: 80px;
    line-height: 80px;
  }
  .params_item {
    height: 80px;
    .label {
      color: $normal-text-color;
    }
  }
}
