/**
 * @author GaoYuJian
 * @create date 2018-11-21
 * @desc
*/

.good_remark_edit {
  background-color: white;
  display: flex;
  flex-direction: row;
  // padding: 28px;
  box-sizing: border-box;
  position: relative;
  .good_remark_content {
    width: 100%;
    background-color: $bg-color;
    padding: 20px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border-radius: 16px;
    .remark_text {
      display: flex;
      flex: 1;
      color: #333333;
      font-size: 24px;
      min-height: 40px;
      padding-right: 30px;
      height: 200px;
      width: 556px;
    }
    .remark_right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: right;
      .remark_button {
        color: $blue;
        font-size: 24px;
      }
      .remark_size {
        display: flex;
        flex-direction: row;
        width: 80px;
        justify-content: flex-end;
        .remark_length {
          color: $blue;
          font-size: 24px;
        }
        .remark_max_length {
          color: #333333;
          font-size: 24px;
        }
      }
    }
  }
}
