/**
 * @author GaoYuJian
 * @create date 2018-11-21
 * @desc
*/

.good_remark {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  position: relative;
}
.good_remark_content {
  width: 100%;
  background-color: $bg-color;
  padding: 20px;
  display: flex;
  flex-direction: row;
  font-size: $font26;
  border-radius: 16px;
  box-sizing: border-box;
}
.remark_text {
  display: flex;
  flex: 1;
  color: $subTitle-color;
  padding-right: 30px;
  width: 556px;
  line-height: 36px;
  word-break: break-all;
}

.remark_text_cart {
  display: flex;
  flex: 1;
  color: #333333;
  padding-right: 30px;
  font-size: 24px;
  min-height: 40px;
  width: 556px;
  word-break: break-all;
}

.remark_button {
  color: $blue;
  display: flex;
  align-items: center;
}

.remark_button_cart {
  color: #2e6be6;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.good_remark__cart {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  border-radius: 18px;
  position: relative;
  &::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-bottom: 10px solid #f7f7f7;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 20px;
    z-index: 10;
  }
}

.good_remark__order {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  border-radius: 18px;
  position: relative;
  margin-bottom: 20px;
}

.good_remark__cart___image {
  width: 22px;
  height: 10px;
  position: absolute;
  left: 24px;
  top: -10px;
  z-index: 2;
}
