.statisticsWrapper {
  padding-top: 20px;
  height: calc(100vh - 20px);
  background-color: #f9f9f9;
  font-family: SourceHanSansCN-Normal, SourceHanSansCN, sans-serif;
  color: #333;

  .top {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 31px;

    .returnBtn {
      width: 100px;
      display: flex;
      align-items: center;
    }

    .topDateSel {
      padding-left: 32px;
      padding-right: 16px;
      width: 420px;
      height: 64px;
      line-height: 64px;
      background: #fff;
      border-radius: 32px;
      font-size: 28px;

      .calendarIcon {
        float: right;
        width: 32px;
        height: 32px;
        margin-top: 14px;
      }
    }
  }

  .body {
    display: flex;
    justify-content: space-between;

    .shopScrollView {
      margin-top: 24px;
      width: 228px;
      height: calc(100vh - 120px);
    }

    .bodyRight {
      flex: 1;
      margin-left: 10px;
      padding-right: 20px;

      .numStatistics {
        margin-top: 24px;
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: #fff;
        border-radius: 8px;
        font-size: 44px;

        .aggregateAnmtmt {
          margin-left: 40px;
          padding-top: 10px;
          height: 110px;
        }

        .numBot {
          font-size: 24px;
          color: #bbb;
        }

        .numbers {
          padding-top: 10px;
          height: 120px;
          display: flex;
          justify-content: space-around;
          text-align: center;
        }
      }

      .goodsList {
        margin-top: 16px;
        padding: 0 30px 10px;
        background: #fff;
        border-radius: 8px;

        .listBody {
          margin-top: 24px;
          margin-bottom: 32px;

          border: 2px solid #eee;
          border-radius: 8px;
          font-size: 24px;
          color: #333;

          .listTitle {
            display: flex;
            height: 74px;
            line-height: 76px;
            background-color: #F9F9F9;
            border-bottom: 2px solid #eee;
            color: #bbb;

            .itemTitle {
              flex: 1;
              text-align: center;
            }

            .itemGoodsTitle {
              flex: 3;
            }
          }

          .listCover {
            height: calc(100vh - 630px);

            .listItem {
              display: flex;
              align-items: center;
              height: 142px;
              border-bottom: 2px solid #eee;

              .itemIndex {
                flex: 1;
                text-align: center;

                .indexImg {
                  width: 36px;
                  height: 28px;
                }
              }

              .goodsDetail {
                flex: 3;
                display: flex;

                .imgCover {
                  margin-right: 10px;
                  width: 80px;
                  height: 80px;

                  .imgUrl {
                    width: 100%;
                    height: 100%;
                  }
                }

                .itemName,
                .itemCode {
                  width: 180px;
                  white-space: nowrap;
                  overflow-x: scroll;
                }

                .itemCode {
                  color: #bbb;
                }
              }

              .itemNum {
                flex: 1;
                text-align: center;
              }
            }
          }

          .noData {
            text-align: center;
            color: #bbb;
          }

          .chart {
            display: flex;
            justify-content: center;
            // align-items: center;
            height: calc(100vh - 603px);
            background-color: #fff;
          }
        }
      }
    }
  }
}
