.centerView {
  width: 100%;
  background-color: #fff;
  &_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &_headImg {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      &_img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
      }
    }
    &_inforMation {
      width: 85%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;
      padding: 0 0 0 0px;
      &_nickName {
        position: relative;
        width: 96%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding-right: 5px;
        &_text {
          width: 100%;
          display: flex;
          align-items: center;
          height: 50px;
          overflow: hidden;
          // text-overflow: ellipsis;
          // white-space: nowrap;
          &--detail {
            width: auto;
          }
          .boocked_view {
            font-size: 26px;
            color: #E62E4D;
            padding: 0 6px;
            margin-left: 8px;
            border-radius: 5px;
            justify-content: center;
            background-color: rgba($color: #E62E4D, $alpha: 0.15);
          }
        }
      }
    }
  }
}

.block_warpper {
  position: absolute;
  top: -30px;
  right: 0;
}

.fontColorSmall {
  max-width: 90%;
  font-size: 28px;
  color: #999999;
  @extend .text_overflow;
}
.bind_text {
  display: flex;
  align-items: center;
  font-size: 28px;
  color: $blue;
  margin-left: 8px;
  flex: 1 1 80px;
}
.link_img {
  width: 32px;
  height: 32px;
}
.checkViewBlock {
  // flex:  0 0 92px;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 3px 18px;
  font-size: 26px;
  border-radius: 10px;
  color: #2e6be6;
  border: 2px solid #2e6be6;
}
.checkViewCencel {
  // flex:  0 0 92px;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 3px 18px;
  font-size: 26px;
  color: #999999;
  border-radius: 10px;
  border: 2px solid #999999;
}
.setting_view {
  width: 100px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid #999999;
  border-radius: 10px;
  color: #666;
  font-size: 26px;
  box-sizing: border-box;
}

.text_overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
