.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.danmu {
  padding: 0 20px;
  border-radius: 29px;
  @include border-1px($theme-color, 29px);
  position: absolute;
  // transition: transform linear 2s;
  animation-name: slideToLeft;
  animation-timing-function: linear;
  animation-duration: 8s;
  animation-iteration-count: 1;
  opacity: 0;
  font-size: 26px;
  color: $title-color;
  white-space: nowrap;
}

@keyframes slideToLeft {
  0% {
    left: 100%;
    opacity: 1;
  }

  100% {
    left: 0;
    transform: translateX(-100%);
    opacity: 1;
  }
}
