.rem {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: $bg-color;
  font-size: 26px;
  &__p {
    color: $normal-text-color;
    flex: 1;
    &--input {
      color: $title-color;
    }
  }
  &__btn {
    flex-shrink: 0;
    color: $blue;
  }
}
