.container {
 padding: 0 24px;
  color: $normal-text-color;
  font-size: 24px;
  background-color: white;
}

.basic {
  display: flex;
  padding: 24px 0;
}

.goods_img {
  width: 160px;
  height: 160px;
  flex: 0 0 160px;
  border-radius: 4px;
  margin-right: 16px;
}

.print_btn {
  padding: 10px 16px;
  font-size: 26px;
  color: $subTitle-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  border-radius: 8px;
}

.table {
  // border: 1px solid #f4f4f4;
  border-left: 1px solid #f4f4f4;
  border-top: 1px solid #f4f4f4;
  overflow: hidden;
  border-radius: 8px;
}

.big_row {
  display: flex;
}

.col_base {
  text-align: center;
  border-right: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
}

.col {
  width: 16.67%;
  @extend .col_base;
}

.col_small {
  height: 64px;
  line-height: 64px;
  width: 20%;
  color: #666;
  @extend .col_base;
}

.col_header {
  height: 64px;
  line-height: 64px;
  width: 16.67%;
  background: #f7f7f7;
  @extend .col_base;
}
