.ticketWrapper {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  // font-family: SourceHanSansCN-Normal, SourceHanSansCN, sans-serif;
  color: #333;
  height: 100%;

  .tips {
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(242, 80, 61, 0.1);
    font-size: 28px;
    color: #f2503d;

    .tipsIcon {
      margin-right: 15px;
      width: 31px;
      height: 31px;
      border-radius: 15px;
      overflow: hidden;
    }
  }

  .showTips {
    z-index: 20;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;

    .modal {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: #000;
      opacity: 0.49;
      overflow: hidden;
    }

    .closeIcon {
      position: absolute;
      top: 15vh;
      right: 5vw;
      font-size: 56px;
      color: #fff;
    }

    .tipsImg {
      position: absolute;
      width: calc(100vw - 50px);
      left: 10px;
      top: 25vh;
      padding: 15px 15px 0;
      background-color: #fff;
      border-radius: 9px;

      .img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .tabList {
    padding: 0 25vw;
    margin-bottom: 24px;
    height: 80px;
  }

  .top {
    // margin-bottom: 26px;
    padding: 0 20px 0 0;
    // display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    background-color: $bg-color;
    @include border-bottom-1px(#eee);
    .returnBtn {
      width: 100px;
      display: flex;
      align-items: center;
    }

    .topDateSel {
      padding-left: 20px;
      padding-right: 10px;
      width: 410px;
      height: 71px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      border-radius: 35px;
      font-size: 26px;
      white-space: nowrap;
      .calendarIcon {
        margin-left: 10px;
        width: 35px;
        height: 35px;
      }
    }

    .checkStatistic,
    .nonCheckStatistic {
      width: 177px;
      height: 71px;
      line-height: 71px;
      background-color: #fff;
      border-radius: 35px;
      text-align: center;
    }

    .nonCheckStatistic {
      background-color: #f9f9f9;
    }
  }

  .ticketBatch,
  .ticketClient {
    flex: 1;
  }

  .eTicketBody {
    display: flex;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    .shopList {
      position: relative;
      overflow-y: scroll;
      width: 176px;
      transition-duration: 0.3s;
      transition-property: width;
      transition-timing-function: ease-in-out;
      .shopScrollView {
        // transition-duration: 0.3s;
        // transition-property: width;
        // transition-timing-function: ease-in-out;
        // height: calc(100vh - 88px - 104px - 97px - 50Px);
      }
      &__search {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 17px;
        // width: 142px;
        height: 64px;
        padding: 12px 16px;
        box-sizing: border-box;
        border-radius: 32px;
        background-color: white;
        &__icon {
          flex: 0 0 40px;
          width: 40px;
          height: 40px;
          margin-right: 6px;
        }
        &__input {
          font-size: 28px;
          flex: 1;
        }
        &__cancel {
          color: $blue;
          font-size: 24px;
          padding: 20px;
          line-height: 1;
        }
      }
    }
    .hideShopList {
      z-index: 1;
      position: absolute;
      bottom: 200px;
      margin-bottom: taro-tabbar-height;
      left: 176px;
      width: 88px;
      height: 71px;
      line-height: 71px;
      text-align: center;
      background: rgba(255, 255, 255, 0.9);
      box-shadow: 4px 0px 9px 0px rgba(0, 0, 0, 0.1);
      border-radius: 0px 44px 44px 0px;
      transition: left ease-in-out 0.3s;
      .hideArrowImg {
        width: 35px;
        height: 35px;
        transition: transform ease-in-out 0.3s;
      }
    }

    .ticketList {
      flex: 1;
      position: relative;
      background-color: #fff;
      overflow-y: scroll;
      .search {
        display: flex;
        align-items: center;

        .searchLeft {
          flex: 1;
          padding: 0 10px;
          margin: 20px;
          height: 70px;
          display: flex;
          align-items: center;
          border-radius: 35px;
          background-color: #f9f9f9;
          overflow: hidden;

          .img {
            width: 44px;
            height: 44px;
          }

          
        }

        .searchRight {
          width: 80px;
          font-size: 30px;
        }
      }

      .count {
        padding: 0 40px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #999;
        font-size: 26px;
        margin-bottom: 20px;
        .micro_mall {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $theme-color;
          font-size: 24px;
          // width: 172px;
          padding: 0 20px;
          height: 48px;
          background-color: #fff4f2;
          border-radius: 24px;
          @include border-1px($theme-color, 24px);
        }
        .cloud_bill_btn {
          width: 128px;
          height: 48px;
        }
        .telLeft,
        .telRight {
          width: 71px;
          height: 2px;
        }

        .telLeft {
          margin-right: 20px;
        }

        .telRight {
          margin-left: 20px;
        }
      }

      .scrollView {
        position: absolute;
        // width: calc(100vw - 228px);
        height: calc(100% - 110px - 60px);
        transition-duration: 0.3s;
        transition-property: width;
        transition-timing-function: ease-in-out;
        .ticketItem {
          height: 300px;
          padding: 0 24px;
          margin-bottom: 16px;
          background-color: #fff;

          .ticketTop {
            height: 88px;
            line-height: 88px;
            display: flex;
            justify-content: space-between;
            font-size: 28px;

            .ticketDate {
              flex: 1;
              color: #bbb;
              text-align: right;
            }

            .batch {
              margin-left: 10px;
            }
          }

          .ticketMiddle {
            display: flex;
            height: 132px;
            background-color: #f9f9f9;
            font-size: 24px;

            .ticketMoney,
            .ticketNumber,
            .ticketDetail {
              flex: 1;
              display: flex;
              flex-direction: column;
              justify-content: center;
              color: #bbb;
            }

            .ticketMoney {
              margin-left: 32px;

              .money {
                font-size: 28px;
                color: #f2503d;
              }
            }

            .number {
              font-size: 28px;
              color: #333;
            }

            .ticketDetail {
              padding-right: 16px;
              align-items: flex-end;
              text-align: center;

              .detailButton {
                width: 144px;
                height: 48px;
                line-height: 48px;
                background-color: #ffc517;
                border-radius: 28px;
                color: #fff;
              }
            }
          }

          .ticketBottom {
            height: 80px;
            line-height: 80px;
            display: flex;
            color: #bbb;
            font-size: 24px;

            .ticketClerk {
              flex: 2;
            }

            .client,
            .clerk {
              margin-left: 24px;
              color: #333;
            }
          }
        }
      }

      .noData {
        margin: 200px auto;
        text-align: center;
        color: #bbb;
      }
      .invite_cloud {
        display: flex;
        align-items: center;
        flex-direction: column;
        &__buttons {
          display: flex;
          align-items: center;
        }
        &__img {
          width: 320px;
          height: 320px;
        }
        &__text {
          color: $subTitle-color;
          margin: 30px 0 100px;
          font-size: 26px;
        }
        &__btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 184px;
          height: 64px;
          background: linear-gradient(360deg, #ff595e 0%, #ff9395 100%);
          border-radius: 36px;
          color: white;
          font-size: 28px;
        }
        &__go_replenish {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 184px;
          height: 64px;
          border-radius: 36px;
          background-color: white;
          color: $theme-color;
          font-size: 28px;
          border: 1px solid $theme-color;
          margin-top: 20px;
        }
      }
    }
  }
}

.noDataPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  font-family: PingFangSC-Regular, PingFangSC;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);

  .img {
    width: 353px;
    height: 373px;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.login_btn {
  margin-top: 30px;
  color: white;
  background-color: $theme-color;
  padding: 12px;
}