.container {
  text-align: center;
  .warning {
    margin-top: 120px;
    width: 80px;
    height: 70px;
  }
  .title {
    color: $title-color;
    font-size: 36px;
    line-height: 1;
    margin-top: 20px;
  }
  .content {
    text-align: left;
    font-size: 28px;
    line-height: 60px;
    color: $subTitle-color;
    margin: 120px auto 40px;
    // padding: 0 60px;
    width: 650px;
    &__line {
      line-height: 40px;
    }
  }
  .guide {
    width: 652px;
    height: 476px;
  }
  .guide2 {
    width: 452px;
    height: 876px;
  }
}
