.mine_cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 120px;
  background-color: white;
  font-size: 30px;
  color: $title-color;
  @include border-bottom-1px($border-color);
  &__left {
    &__icon {
      display: inline-block;
      width: 48px;
      height: 48px;
      margin-right: 18px;
      vertical-align: middle;
    }
    &__text {
      display: inline-block;
      vertical-align: middle;
    }
  }
  &__right {
    width: 40px;
    height: 40px;
  }
}