.view_for_calculate_position {
  width: 204px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
  margin-bottom: 20px;
  &:nth-of-type(3n) {
    margin-right: 0px;
  }
}

.view_for_judge_interaction {
  width: 10px;
  height: 10px;
}

.base_image {
  width: 204px;
  height: 204px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 14px;
  box-sizing: border-box;
  &--active {
    position: absolute;
    opacity: 0.8;
    transform-origin: 50% 50%;
    left: 0;
    top: 0;
    transition: transform 0s linear, opacity 0.1s ease-in-out;
    // transform: scale(1.2);
  }
}

.view_for_placeholder {
  z-index: 100;
  @extend .image_picker_container;
}

.image_picker_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.movable_image_container {
  position: absolute;
  left: 0;
  top: 0;
  &--h5 {
    position: relative;
    @extend .view_for_placeholder;
  }
  .movable_image {
    width: 204px;
    position: absolute;
    // transition: transform ease-in-out 0.3s, opacity ease-in-out 0.3s;
    &--h5 {
      position: relative;
      margin-right: 24px;
      margin-bottom: 20px;
      // transition: none;
      &:nth-of-type(3n) {
        margin-right: 0px;
      }
    }
    &__image {
      width: 100%;
      height: 204px;
      border-radius: 14px;
    }
    &__del_icon {
      width: 40px;
      height: 40px;
      right: 0;
      top: 0;
      position: absolute;
      padding-left: 20px;
      padding-bottom: 20px;
    }
    &__name {
      color: #222222;
    }
    &__code {
      color: #999;
    }
  }
}

.image_add {
  @extend .base_image;
  background-color: $bg-color;
  .image_add__icon {
    width: 48px;
    height: 48px;
  }
  .image_add__text {
    margin-top: 12px;
    color: #999999;
    font-size: 24px;
  }
}
.text_overflow {
  max-width: 100%;
  font-size: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.touch_view {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 12px;
  top: 132px;
  z-index: 2;
  // 增加触摸范围
  padding-top: 10px;
  padding-right: 10px;
}
