::-webkit-scrollbar {
  // width: 0;
  // height: 0;
  // color: transparent;
  display: none;
}
.contanier {
  height: 100%;
  width: 100%;
  background-color: #EDEDED;
}
.navigation_class {
  background-color:#EDEDED
}
.authorization_contanier {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.authorization_name {
  color:#152B4D;
  font-size: 32px;
  margin-bottom: 24px;
}
.authorization_sunTitle {
  color:#6E7C93;
  font-size: 24px;
  margin-bottom: 24px;
}
.authorization_button {
  // flex:1;
  background-color: #2AAE67;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0px 28px;
  font-size: 32px;
  color: #fff;
  font-weight: 500;
}
.header {
  height: 124px;
  padding: 0 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-bottom: 24px;
}
.header_text {
  color:#6E7C93;
  font-size: 28px;
  font-weight: 500;
}
.header_text_filter {
  color:#152B4D;
  font-size: 24px;
  margin-right: 16px;
}
.single_info_cell {
  height: 182px;
  margin-bottom: 24px;
  padding: 0px 28px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single_info_cell_title {
  color:#6E7C93;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 8px;
}
.single_info_cell_num {
  color:#3764FF;
  font-size: 48px;
  line-height: 60px;
}
.single_info_cell_right_rate {
  // color:#FF6160;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-end;
}
.single_info_cell_right_desc {
  color:#6E7C93;
  font-size: 24px;
  line-height: 34px;
}
.data_info_cell {
  padding: 16px 10px;
  flex-wrap: wrap;
  display: flex;
  background-color: #fff;
  margin-bottom: 24px;
}
.data_info_cell_item {
  width: 33%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.data_info_cell_item_title {
  color:#6E7C93;
  font-size: 24px;
  margin-bottom: 8px;
}
.data_info_cell_item_right {
  display: flex;
}
.data_info_cell_item_value {
  color:#152B4D;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
}
.line_chart {
  width: '100%';
  height: 275px;
}
.legend_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.legend_title {
  color:#6E7C93;
  font-size: 24px;
}
.chart_header {
  height: 100px;
  padding-left: 12px;
  padding-right: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}
.chart_header_tag {
  width: 4px;
  height: 20px;
  margin-top: 12px;
  background-color: #3764FF;
  margin-right: 12px;
}
.chart_header_left {
  // height: 100%;
  display: flex;
  align-items: 'center';
  // justify-content: center;
}

.chart_header_name {
  color:#152B4D;
  font-size: 32px;
  margin-right: 8px;
}
.chart_header_sub_name {
  color:#A2AAB8;
  font-size: 24px;
  display: flex;
  align-items: center;
}
.take_goods_top {
  padding: 28px;
}
.take_goods_top_tab {
  padding: 4px;
  background-color: #F8F9FB;
  display: flex;
  height: 72px;
}
.take_goods_top_tab_item {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.take_goods_top_list {
  padding: 40px 20px;
}
.take_goods_top_list_item {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}
.take_goods_top_list_item_image {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  background-color: #f7f7f7;
  margin-right: 20px;
}
.filter_box {
  width: 128px;
  height: 76px;
  display: flex;
  background-color: #F1F1F1;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.filter_box{
  color: #6E7C93;
  font-size: 28px;
}
.filter_pop_block {
  flex:1
}
.filter_pop_item {
  width: 100%;
  height: 100px;
  padding-left: 28px;
  display: flex;
  align-items: center;
}
.mask {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  z-index: 99;
}
.icon_size {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
.line_chart_contanier {
  width: 100%;
  background-color: #fff;
  margin-bottom: 24px;
  position: relative
}
.line_chart_legend {
  position: absolute;
  display: flex;
  right: 2%;
  top:20%
}
.line_chart_legend_item {
  display: flex;
  align-items: center;
  color:#6E7C93;
  font-size: 24px;
  margin-right: 32px;
}
.line_chart_legend_item_dot {
  width: 8px;
  height: 8px;
  margin-right: 8px;
}
.take_goods_top_list_item_text {
  font-size: 34px;
  font-weight: 600;
  line-height: 42px;
  display: flex;
  flex:1;
  align-items:flex-end;
}
.money_icon {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  display: flex;
  flex:1;
  align-items:flex-end;
}
.money_icon1 {
  font-size: 28px;
  line-height: 50px;
  font-weight: 500;
  display: flex;
  flex:1;
  align-items:flex-end;
}
.money_icon2 {
  font-size: 28px;
  line-height: 50px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  // flex:1;
  justify-content:flex-end;
  color:#3764FF;
}
.purchase_list {
  flex: 1;
  background-color: #fff;
  padding-bottom: 20px;
  margin: 0 40px;
}
.purchase_list_header {
  height: 70px;
  background-color: #F7F7F7;
  padding: 0 20px;
  display: flex;
  margin: 20px 0px;
  color: #666666;
}
.purchase_list_header_left {
  flex:1;
  display: flex;
  align-items: center;
}
.purchase_list_header_right {
  flex:1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.purchase_list_header_body {
  padding: 0px 20px;
  padding-top: 20px;
  background-color: #fff;
  flex:1
}
.purchase_list_body_left {
  flex:1;
  display: flex;
}
.purchase_list_body_right {
  flex:1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}