.container {
  margin: 0 auto;
  width: 590px;
  text-align: center;
}

.content {
  // height: 874px;
  border-radius: 40px;
  padding: 16px;
  background: linear-gradient(135deg, #fff2d0 0%, #ffe0a3 100%);
  box-sizing: border-box;
}

.title {
  border-radius: 16px 16px 0 0;
  line-height: 148px;
  font-size: 44px;
  font-weight: 500;
  color: #ffffff;
  // width: 558px;
  height: 148px;
  background: linear-gradient(135deg, #ff806a 0%, #ff3e43 100%);
}

.intro {
  height: 44px;
  margin: 30px 0 16px;
  font-size: 32px;
  font-weight: 500;
  color: #360c0d;
  line-height: 44px;
}

.prize {
  height: 66px;
  font-size: 48px;
  font-weight: 500;
  color: #ff3e43;
  line-height: 66px;
}

.qr {
  width: 320px;
  height: 320px;
  margin: 16px auto 20px;
}

.tips {
  // padding: 0 160px;
  // height: 68px;
  font-size: 24px;
  font-weight: 500;
  color: #360c0d;
  line-height: 34px;
}

.buttons {
  display: flex;
  padding: 0 20px;
}

.button {
  flex: 1;
  width: 550px;
  height: 92px;
  margin: 40px auto 0;
  font-size: 36px;
  font-weight: 600;
  color: #ff3e43;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #fff2d0 0%, #ffe0a3 100%);
  border-radius: 50px;
}
