.statement_intro_container {
  width: 670px;
  margin: 0 auto;
  position: relative;
  padding-top: 100px;
}

.statement_intro__content {
  background-color: white;
  border-radius: 8px;
  padding: 50px;
  &__item {
    line-height: 1;
    font-size: 32px;
    margin-bottom: 30px;
    &__title {
      color: $title-color;
    }
    &__text {
      margin-top: 18px;
      color: $normal-text-color;
    }
  }
}

.bg_trans {
  background-color: transparent;
}

@mixin close_circle_icon($width, $color) {
  width: $width;
  height: $width;
  position: relative;
  border-radius: 50%;
  border: 2px solid $color;
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 50%;
    transform: translate(-50%, -50%) rotateZ(45deg);
    background-color: $color;
  }
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 50%;
    transform: translate(-50%, -50%) rotateZ(-45deg);
    background-color: $color;
  }
}

.close_circle {
  @include close_circle_icon(60px, #fff);
  position: absolute;
  right: 0;
  top: 0;
}
