.goods_share_edit_page__share {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  background: rgba(0, 2, 15, 0.7);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    width: 550px;
    height: 694px;
    background: #FFFFFF;
    box-shadow: 0px -8px 16px 0px rgba(0, 0, 0, 0.05), 0px 4px 24px 0px rgba(0, 0, 0, 0.05);
    // position: absolute;
    // left: 50%;
    // top: 100px;
    // transform: translateX(-50%);
    box-sizing: border-box;
    padding: 16px;
    overflow: scroll;
    // flex-basis: 60%;

    &__imageModelContent {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .model_image_item {
        margin-bottom: 16px
      }
    }

    &__shopInfo {
      width: 100%;
      height: 100px;
      box-sizing: border-box;
      padding: 10px 32px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      position: relative;

      .share_shop_name {
        font-size: 26px;
        color: #222;
      }

      .share_shop_label {
        font-size: 24px;
        color: #999999;
      }

      .share_shop_minicode {
        width: 96px;
        height: 96px;
        position: absolute;
        right: 32px;
        top: 0;
      }
    }
  }

  &__preview {
    @extend .bottom-view;

    &__title {
      height: 100px;
      font-size: 26px;
      color: #222;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__actionView {
      width: 100%;
      margin-top: 36px;
      box-sizing: border-box;
      padding: 0 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__actionLeft {
        @extend .action_item;
        background-color: #F7F7F7;
        color: #666666;
      }

      &__actionRight {
        @extend .action_item;
        background-color: #E62E4D;
        color: #fff;
      }
    }
  }

  &__shareView {
    @extend .bottom-view;
    display: flex;
    align-items: center;
    &__headerView {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;

      .header_label {
        color: #2E6BE6;
        font-size: 22px;
        margin: 0 16px;
      }

      .header_line {
        width: 118px;
        height: 2px;
        background-color: #DDDDDD;
      }
    }

    &__content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      box-sizing: border-box;
      padding: 0 40px;

      .share_item_view {
        margin-right: 24px;

        .item_label {
          font-size: 26px;
          color: #222;
          margin-top: 16px;
        }

        .image_item {
          width: 90px;
          height: 90px;
        }
      }

      .share_button {
        display: flex;
        align-items: center;
        flex-direction: column;
        border: none;
        background-color: #fff;
      }
    }
  }

  .switcw_model_view {
    width: 324px;
    height: 64px;
    border-radius: 16px;
    overflow: hidden;
    border: 2px solid #FFFFFF;
    // position: absolute;
    // left: 50%;
    // bottom: 400px;
    // transform: translateX(-50%);
    // flex-basis: 0%;
    position: relative;
    margin-bottom: 26px;
    &__item {
      width: 168px;
      height: 64px;
      border-radius: 16px;
      font-size: 28px;
      color: #fff;
      transition: all ease-in-out 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .two_model {
      position: absolute;
      left: 0;
      top: 0;
    }

    .three_model {
      position: absolute;
      right: 0;
      top: 0;
    }

    .switcw_model_view__item--active {
      background-color: #fff;
      color: #222;
    }
  }
}

.bottom-view {
  // position: absolute;
  // bottom: 0;
  // left: 0;
  width: 100%;
  height: 300px;
  background: #FFFFFF;
  border-radius: 42px 42px 0px 0px;
  transform: translateY(100%);
  animation: move ease-in-out 0.2s forwards;
  // flex-basis: 30%;
}

.goods_canvas {
  width: 550px;
  position: fixed;
  left: 2100px;
  top: 2100px;
}

.action_item {
  width: 326px;
  height: 88px;
  font-size: 30px;
  font-weight: 450;
  border-radius: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

@keyframes move {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.flex_view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  flex-direction: column;
}
.flex_view__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.model_image_item__small {
  width: 162px;
  height: 162px;
}
.model_image_item__big {
  width: 250px;
  height: 250px;
}
