.container {
  height: 100%;
}

.tab_item {
  width: 33.33%;
  box-sizing: border-box;
}

.top_sticky {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 0 24px;
}

.filter {
  padding: 0 16px;
  color: $blue;
  font-size: 30px;
}

.swiper {
  min-height: calc(100% - 88rpx);
}

.goods_list {
  height: calc(100% - 88rpx);
}

.code_list {
  padding: 20px 0;
  overflow-y: scroll;
}

.table {
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid #f4f4f4;
  border-top: 1px solid #f4f4f4;
}
.tab {
  flex: 0 0 25%;
  width: 25%;
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 24px;
  color: $subTitle-color;
  box-sizing: border-box;
  border-right: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  overflow: hidden;
  border-radius: 8px;
  &--header {
    color: $normal-text-color;
    background-color: #f7f7f7;
  }
}

.title {
  font-size: 30px;
  color: $title-color;
  font-weight: 500;
  margin-left: 16px;
  margin-bottom: 24px;
}

.p {
  padding: 24px;
  background-color: white;
}

.code_ex {
  width: calc(1125px * 0.6);
  height: calc(915px * 0.6);
  margin: 10px auto;
}