.live_index_wrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 24px;
  background-color: #F7F7F7;

  &__status {
    width: 702px;
    height: 68px;
    background: #FFFFFF;
    border-radius: 14px;
    box-sizing: border-box;
    padding: 0 16px;

    &__label {
      font-size: 26px;
      font-weight: 400;
      color: #222222;
    }
  }
  &__manage {
    width: 702px;
    height: 176px;
    background: #FFFFFF;
    border-radius: 14px;
    box-sizing: border-box;
    padding: 0 32px;
    margin-top: 24px;
    &__title {
      font-size: 30px;
      font-weight: 500;
      color: #222222;
      margin-bottom: 4px;
    }
    &__label {
      font-size: 26px;
      font-weight: 400;
      color: #999999;
      margin-top: 4px;
    }
  }
}

.round_view {
  width: 8px;
  height: 8px;
  background: #28B275;
  margin-right: 8px;
  border-radius: 50%;
}

.status_label {
  font-size: 26px;
  font-weight: 400;
  color: #28B275;
}
.live_index_icon {
  width: 64px;
  height: 64px;
  margin-right: 14px;
}