@import './custom-theme.scss';
@import '~taro-ui/dist/style/components/icon.scss';
@import '~taro-ui/dist/style/components/input.scss';
@import '~taro-ui/dist/style/components/calendar.scss';
@import '~taro-ui/dist/style/components/curtain.scss';
@import '~taro-ui/dist/style/components/activity-indicator.scss';
@import '~taro-ui/dist/style/components/loading.scss';
@import './components/Button/button.scss';
@import './components/SlideContainer/slide_container.scss';
@import './components/CustomNavigation/custom_navigation.scss';
@import './components/WithBadge/index';
@import './components/WithEmptyView/with_empty';
@import '~taro-ui/dist/style/components/swipe-action.scss';
// @import '~@ecool/mini-ui/dist/style/variables/default.scss';
// @import '~@ecool/mini-ui/dist/style/components/index.scss';
// @import '~'
// @import './style/mixins';
// @import url('https://fonts.font.im/css?family=Open+Sans:400,400i,600');
// @import './style/variable';
// @import './components/WithEmptyView/with_empty';

@import '~taro-ui/dist/style/components/modal.scss';
$at-modal-btn-confirm-color: $theme-color;

.at-modal__content {
  min-height: 0;
  text-align: center;
}

button {
  padding-left: 0;
  padding-right: 0;
  font-size: 24px;
  line-height: 1;
  border: none;
  &::after {
    content: none;
  }
}

page {
  min-height: 100vh;
  height: 100%;
  background-color: $bg-color;
}

body {
  // font-family: 'Open Sans';
  // .taro-video {
  //   height: 100vh;
  // }
  @media screen and (min-width: 580px) {
    .taro-video {
      height: 100%;
      max-height: 800px;
    }
    .viewer-image-container {
      // max-height: 100vh;
      // max-width: 100vh;
      img {
        max-height: 100vh;
        // max-width: 100vh;
      }
    }
  }
}

.fixed_item {
  position: fixed;
  width: 100%;
  height: 100%;
}

.bg_trans {
  background-color: transparent;
}

.flex1 {
  flex: 1;
}

.bg {
  background-color: #f9f9f9;
}

.taro__modal {
  position: absolute;
  z-index: 9999;
}

.taro-tabbar__no_hide {
  display: block;
}

.taro-tabbar__tabbar-bottom {
  @include fix-iphone-x('margin', 'bottom', 0);
}

.taro-img__mode-aspectfill {
  object-fit: cover;
}

.highlight_text {
  color: $theme-color;
}

.taro__actionSheet div {
  font-size: 32px !important;
}

.taro__actionSheet .taro-actionsheet__cell {
  color: $title-color;
  font-size: 28px !important;
  height: 100px;
  box-sizing: border-box;
}

.e_button.orange_button {
  background-color: $orange;
  margin-right: 2px;
}

.visible-y {
  overflow-y: visible;
}

.fuck {
  flex: 1;
  background-color: #f9f9f9;
}

.aic {
  display: flex;
  align-items: center;
}

.jcc {
  display: flex;
  justify-content: center;
}

.jcsb {
  display: flex;
  justify-content: space-between;
}

.scroll {
  overflow-y: scroll;
}

.col {
  display: flex;
  flex-direction: column;
}

.jcfe {
  display: flex;
  justify-content: flex-end;
}

body {
  font-size: 32px;
}

.taro__actionSheet,
.taro__toast {
  z-index: 9999;
  position: relative;
}

.solid_line {
  width: 100%;
  margin: 25px 0;
  height: 0.5px;
  background-color: rgb(237, 237, 237);
}

.invalid_goods_mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.blur_goods {
  @extend .invalid_goods_mask;
  backdrop-filter: blur(25px);
}