::-webkit-scrollbar {
  width: 0;
}

.order_bill_detail_container {
  width: 100%;
  height: 88vh;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f7f7f7;
}

.scroll_view_container {
  width: 100%;
  height: 100%;
}

.user_view {
  width: 100%;
  // height: 300px;
  border-radius: 15px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 15px 25px;

  &_information {
    width: 100%;
    height: 62%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;

    .headImage {
      margin-right: 20px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
    }

    .infor {
      flex: 1;
      height: 140px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;

      .name {
        font-size: 33px;
        color: #222;
        white-space: nowrap;
      }

      .slh_info {
        font-size: 28px;
        color: #999;
        max-width: 470px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .mobile {
        font-size: 28px;
        color: #999;
        display: flex;
        align-items: center;

        .phone_icon {
          width: 35px;
          height: 35px;
          margin-left: 15px;
        }
      }
    }

    .right_icon {
      width: 55px;
      height: 55px;
    }
  }

  &_clerk {
    width: 100%;
    height: 108px;
  }
}

.goods_view {
  width: 100%;
  border-radius: 15px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 15px 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  .goods_info {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &__image {
      width: 100px;
      height: 100px;
      border-radius: 10px;
      margin-right: 20px;
    }

    &__code {
      flex: 1;
      height: 140px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 13px 0 13px 0;
      box-sizing: border-box;

      .style_name {
        max-width: 220px;
        font-size: 30px;
        color: #222;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .style_code {
        width: 200px;
        font-size: 29px;
        color: #999;
        margin-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .style_money {
        font-size: 28px;
        color: #999;
      }
    }

    &__billMoney {
      width: 200px;
      height: 140px;
      box-sizing: border-box;
      padding: 16px 0;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      font-size: 28px;
      color: #ff5050;
    }

    .edit_icon {
      position: absolute;
      right: 10px;
      top: 7px;
      width: 34px;
      height: 34px;
    }
  }

  .skus {
    width: 100%;
    height: 100px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 30px;
    border-bottom: 1px solid #eee;

    &_sku__view {
      display: flex;
      align-items: center;

      .spot {
        width: 10px;
        height: 10px;
        background-color: #ff9800;
        border-radius: 50%;
      }

      .sku {
        font-size: 29px;
        color: #666;
        margin-left: 20px;
      }

      .skus_price {
        font-size: 29px;
        color: #222;
      }
    }

    &_price {
      font-size: 29px;
      color: #222;
    }
  }

  .remark_view {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 0 30px;
    font-size: 30px;
    color: #666666;
    background-color: #f7f7f7;
    margin-top: 20px;
    border-radius: 5px;

    &_input {
      width: 100%;
      height: 100%;
      border: none;
      background-color: none;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 10px;
    }
  }
}

.orderDetail_view {
  width: 100%;
  margin-top: 20px;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 15px 30px;
  background-color: #ffffff;

  &_receive_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;

    .label_content {
      margin-right: 12px;
      white-space: nowrap;
      font-size: 31px;
      color: #222;
    }

    .info_content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-size: 29px;
      color: #999;
      text-align: end;

      &_copy {
        font-size: inherit;
        color: #2E6BE6
      }
    }
  }

  &_date {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;

    .label_content {
      font-size: 31px;
      color: #222;
    }

    .date_content {
      font-size: 29px;
      color: #999;
    }
  }

  .shipping_address {
    width: 100%;
    min-height: 100px;
    box-sizing: border-box;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 31px;
    color: #222;
    border-bottom: 1px solid #eee;

    &:last-child {
      border:  none;
    }

    .shipping_content {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      flex-wrap: wrap;
      font-size: 29px;
      color: #999;
      &_deliver_status {
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        background-color: $bg-color;
        color: #666666FF;
        font-size: 26px;

        .dot {
          width: 8px;
          height: 8px;
          margin-right: 10px;
          border-radius: 8px;
        }
        .green_mark {
          background-color: green;
        }
  
        .red_mark {
          background-color: red;
        }

        .yellow_mark {
          background-color:  #ff9800;
        }
      }
    }
  }
}

.pay_infomation_view {
  width: 100%;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0 30px 15px 30px;

  .pay_type_item {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #eee;
    box-sizing: border-box;

    &_label {
      font-size: 31px;
      color: #222;
    }

    &_value {
      font-size: 29px;
    }
  }

  .pay_input {
    width: 200px;
    height: 100%;
    text-align: right;
    font-size: 29px;
  }
}

.skus_sum {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .pay_status {
    display: inline-block;
    padding: 6px;
    margin-left: 10px;
    background-color: $bg-color;
    font-size: 20px;
    color: #999999FF;
  }
}

.cover_view {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom_view {
  width: 100%;
  height: 174px;
  background-color: #fff;
  // position: fixed;
  // left: 0;
  // bottom: 0;
  // z-index: 100;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 40px 35px;
  font-size: 28px;
  border-top: 1px solid #eee;
  &_container {
    display: flex;
    align-items: center;
  }
  &_pay_status {
    position: absolute;
    left: 0px;
    top: -30px;
    background-color: #f7f7f7;
    color: $title-color;
    font-size: 24px;
    border-radius: 4px;
    // margin-left: 6px;
    padding: 2px 6px;
    //   @extend .container;
    //   justify-content: center;
  }

  &_actionDisable {
    width: 150px;
    height: 55px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 55px;
    text-align: center;
    color: #666666;
    border: 1px solid #dddddd;
  }

  &_action {
    width: 155px;
    height: 55px;
    border-radius: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 55px;
    text-align: center;
    background-color: #ff5050;
    margin-left: 20px;

    &_refund {
      padding: 10px 20px;
      background-color: #FF5050FF;
      font-size: 26px;
      color: white;
      border-radius: 16px;
    }
  }

  &_confiremed {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.money_icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.refund_remark_view {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.alert_input_view {
  width: 542px;
  height: 316px;
  border-radius: 10px;
  background-color: #fff;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 32px;
  z-index: 999;

  &__header {
    font-size: 34px;
    color: #222222;
  }

  &__input {
    width: 100%;
    height: 92px;
    margin-top: 20px;
    position: relative;
    box-sizing: border-box;
    padding-right: 60px;
    border-radius: 10px;
    background-color: #f7f7f7;

    &___com {
      width: 100%;
      height: 92px;
      box-sizing: border-box;
      padding-left: 20px;
    }

    &___delete {
      width: 32px;
      height: 32px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      padding: 10px;
    }
  }

  .input_action_parent {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    border-top: 1px solid #F4F4F4;
  }

  &__action {
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 0;
    box-sizing: border-box;

    &__cancel {
      @extend .input_action_parent;
      color: #999;
      border-right: 1px solid #F4F4F4;
    }

    &__confirm {
      @extend .input_action_parent;
      color: #E62E4D;
    }
  }
}

.refund_view__mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;

  &__content {
    width: 100%;
    max-height: 75%;
    min-height: 30%;
    background-color: #fff;
    border-radius: 42px 42px 0 0;
    display: flex;
    flex-direction: column;

    &__header {
      flex: none;
      width: 100%;
      height: 100px;
      font-size: 28px;
      font-weight: 500;
      color: #222222;
      position: relative;

      &__close {
        width: 48px;
        height: 48px;
        position: absolute;
        right: 32px;
        top: 45%;
        transform: translateY(-50%);
      }
    }

    &__scroll {
      width: 100%;
      flex: 1;
      box-sizing: border-box;
      padding: 0 20px;
      overflow: scroll;

      .sku_cell {
        width: 100%;
        height: 460px;
        display: flex;
        flex-direction: column;

        &_desc {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          margin-bottom: 10px;
          font-size: 26px;
        
          &_title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            font-weight: 500;
            color: #222222FF;

            &_icon {
              margin-right: 8px;
              width: 32px;
              height: 32px;
            }
          }
          
          &_label {
            margin-bottom: 10px;
            color: $normal-text-color;
          }
        }

        &__top {
          // flex: 1;
          padding: 10px;
          display: flex;
          align-items: center;
          background-color: $bg-color;

          &__goodsImage {
            width: 132px;
            height: 132px;
          }

          &__goodsInfo {
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            box-sizing: border-box;
            padding: 16px 0;
            margin-left: 16px;
            position: relative;

            &__name {
              font-size: 30px;
              font-weight: 400;
              color: #222222;
            }

            &__label {
              font-size: 26px;
              font-weight: 400;
              color: #999999;
            }

            .refund_value {
              position: absolute;
              top: 16px;
              right: 0;
              display: flex;
              flex-direction: column;
              align-items: flex-end;

              &__status {
                font-size: 26px;
                font-weight: 400;
                color: #FF5050;
              }

              &__results {
                margin-top: 8px;
                font-size: 26px;
                font-weight: 400;
                color: #FF9800;
              }
            }
          }
        }

        &__bottom {
          width: 100%;
          height: 88px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &__status__desc {
            font-size: 26px;
            color: #FF5050FF;
          }
        
          &__action {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            &__results {
              height: 48px;
              background: #F7F7F7;
              border-radius: 16px;
              font-size: 26px;
              font-weight: 400;
              color: #999999;
              padding: 0 16px;
              margin-left: 12px;
            }
  
            &__refund {
              height: 48px;
              border-radius: 16px;
              border: 1px solid #DDDDDD;
              background: #fff;
              font-size: 26px;
              font-weight: 400;
              color: #222;
              padding: 0 16px;
              margin-left: 12px;
            }
  
            &__agree {
              height: 48px;
              background: #FF5050;
              border-radius: 16px;
              font-size: 26px;
              font-weight: 400;
              color: #FFFFFF;
              padding: 0 16px;
              margin-left: 12px;
            }
          }
        }
      }
    }
  }
}
