/**
 * @author GaoYuJian
 * @create date 2019-02-22
 * @desc
*/

.filter-tag-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 32px;
  padding-top: 42px;
  background-color: white;
}

.filter-tag-view__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.filter-tag-view__header__title {
  font-size: 30px;
  color: #222222;
}

.filter-tag-view__header__action {
  width: 36px;
  height: 36px;
  padding: 16px;
  transition: transform 0.2s ease-in-out;
  &--default {
    transform: rotateZ(180deg);
  }
}

.filter-tag-view__tags {
  display: flex;
  flex-wrap: wrap;
}

.filter-tag-view__divider {
  background: #cccccc;
  height: 1px;
  margin-top: 6px;
  opacity: 0.1;
}
