.page {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.replenish_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  width: 48px;
  height: 48px;
  background: linear-gradient(360deg, #ff595e 0%, #ff9395 100%);
  border-radius: 24px;
  position: absolute;
  bottom: 12px;
  right: 12px;
  &__h {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 4px;
    background-color: white;
  }
  &__v {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 20px;
    background-color: white;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  &__goods_item {
    width: 440px;
    height: 162px;
    position: absolute;
    z-index: 9999;
    left: 24px;
    bottom: 180px;
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__goodsImage {
      width: 130px;
      height: 130px;
      border-radius: 10px;
      overflow: hidden;
    }
    &__goodsInfo {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      margin-left: 16px;
      &__goodsName {
        font-size: 26px;
        color: #222222;

      }
      &__goodsCode {
        font-size: 26px;
        color: #666666;
      }
      &__goodsPrice {
        font-size: 32px;
        color: #E62E4D;
      }
    }
  }
}

.side {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 50%;
  transform: translateY(40%);
  width: 194px;
  padding: 12px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px 8px 8px 0px;
  &__goods {
    width: 170px;
    height: 170px;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 12px;
    &--active {
      border: 2px solid #e62e4d;
    }
  }
  &__all_goods {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: $title-color;
    font-size: 26px;
    text-align: center;
    background: #fff;
  }
}

.shop_info {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 24px;
  top: 96px;
  padding: 12px;
  // padding-right: 12px;
  width: 316px;
  height: 100px;
  box-sizing: border-box;
  font-size: 28px;
  color: #222;
  background: white;
  border-radius: 50px;

  &__avatar {
    flex: 0 0 76px;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    margin-right: 16px;
  }
  &__base {
    flex: 1;
    overflow: hidden;
  }
  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__addr {
    font-size: 24px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.ticket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 160px;
  transform: translateX(-50%);
  width: 570px;
  height: 116px;
  background: linear-gradient(137deg, #ff788f 0%, #e62e4d 100%);
  border-radius: 58px;
  padding: 0 16px 0 40px;
  box-sizing: border-box;
  // border: 2px solid;
  &__info {
    color: #fff;
    font-size: 26px;
  }
  &__highlight {
    font-weight: 500;
    font-size: 34px;
  }
  &__highlight_small {
    font-weight: 500;
    font-size: 30px;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 64px;
    border-radius: 32px;
    background-color: #fff;
    color: #e62e4d;
    font-size: 26px;
    font-weight: 500;
    &__angle {
      width: 32px;
      height: 32px;
    }
  }
}

.all_shop_btn {
  position: absolute;
  top: 118px;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 48px;
  border-radius: 24px 0 0 24px;
  font-size: 22px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  &__angle {
    width: 24px;
    height: 24px;
  }
}

.play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96px;
  height: 96px;
  z-index: 2;
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // z-index: -1;
}

.bottom_go_to_shop {
  width: 272px;
  height: 84px;
  background: linear-gradient(137deg, #ff788f 0%, #e62e4d 100%);
  border-radius: 42px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 160px;
  transform: translateX(-50%);
  color: white;
  font-weight: 500;
  font-size: 30px;
}
.download_icon {
  width: 88px;
  height: 88px;
  position: absolute;
  z-index: 999;
  right: 32px;
  bottom: 180px;
  padding: 10px;
}