.mergeBillWrapper {
  position: relative;
  padding: 32px 40px;
  height: calc(100vh - 64px);
  background-color: #f9f9f9;
  font-size: 44px;
  color: #333;

  .top {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .body {
    padding: 0 44px;
    margin-top: 32px;
    width: 582px;
    background-color: #fff;
    border-radius: 8px;
    font-size: 28px;

    .bodyItem {
      display: flex;
      height: 100px;
      line-height: 100px;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #eee;

      &:last-child {
        border-bottom: none;
      }

      .right {
        display: flex;
        align-items: center;
        color: #bbb;

        .check,
        .unCheck {
          margin-right: 6px;
          width: 36px;
          height: 36px;
          line-height: 32px;
          border-radius: 18px;
          text-align: center;
          color: #fff;
          background-color: #FF6F72;
        }

        .unCheck {
          background-color: #eee;
        }
      }
    }
  }

  .btn {
    .confirm {
      position: absolute;
      bottom: 32px;
      left: 40px;
      width: 670px;
      height: 88px;
      line-height: 88px;
      text-align: center;
      background-color: #FF6F72;
      color: #fff;
      border-radius: 8px;
      font-size: 30px;
    }
  }
}

.noDataPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  font-family: SourceHanSansCN-Normal, SourceHanSansCN, sans-serif;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);

  .img {
    width: 353px;
    height: 373px;
  }
}
