@import '../SkuInSpu/index.module.scss';
.spu {
  padding-right: 24px;
  background-color: white;
  border-radius: 28px;
  margin-bottom: 24px;
  overflow: hidden;
  &__check {
    flex: 0 0 82px;
    width: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    &_icon {
      width: 36px;
      height: 36px;
    }
  }
  &__header {
    display: flex;
    &__main {
      flex: 1;
      display: flex;
      align-items: center;
      height: 200px;
      overflow: hidden;
      position: relative;
    }
    &__img {
      position: relative;
      flex: 0 0 160px;
      width: 160px;
      height: 160px;
      border-radius: 8px;
      margin-right: 20px;
      overflow: hidden;
      &__disabled {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        font-size: 24px;
      }
    }
    &__content {
      color: $title-color;
      line-height: 1;
      overflow: hidden;
      margin-right: 40px;
    }
    &__code {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 32px;
    }
    &__name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 28px;
      color: $normal-text-color;
      margin: 26px 0 38px;
    }
    &__price {
      font-size: 32px;
    }
    &__price_tag {
      font-size: 26px;
    }
    &__toggle_sku {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 80px;
      right: 0;
      transition: transform ease 0.2s;
      &--bottom {
        transform: rotateZ(540deg);
      }
    }
  }
  &__skus {
    // padding-left: 82px;
    padding-bottom: 10px;
  }
  // &__skus {
  //   // display: flex;
  //   &__sku {
  //     display: flex;
  //     align-items: center;
  //     height: 80px;
  //   }
  // }
  // &__sku {
  //   &__content {
  //     display: flex;
  //     flex: 1;
  //     justify-content: space-between;
  //     align-items: center;
  //     @include border-bottom-1px(#f4f4f4);
  //   }
  //   &__name {
  //     font-size: 28px;
  //     color: $subTitle-color;
  //   }
  // }
  // &__footer {
  //   // padding: 0 40px;
  //   height: 80px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: flex-end;
  //   font-size: 28px;
  //   color: $subTitle-color;
  // }
}
