.container {
  // display: flex;
  margin-top: 32px;
}

.avatar {
  width: 72px;
  height: 72px;
  margin-right: 20px;
  border-radius: 50%;
}

.angle_right {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}
.goshop_view {
  position: absolute;
  right: 0;
  width: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 28px;
  color: #999999;
  &_icon {
    width: 40px;
    height: 40px;
  }
}

.main {
  display: flex;
  align-items: center;
  flex: 1;
  margin-bottom: 24px;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.shop_name {
  color: $title-color;
  font-size: 30px;
  font-weight: 500;
  line-height: 42px;
}

.new {
  position: relative;
  font-size: 20px;
  color: #6b2b18;
  margin-top: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  height: 28px;
  background-color: #ffe5db;
  border-radius: 14px;
  overflow: hidden;
  &__flag {
    background: linear-gradient(137deg, #fadcd0 0%, #f9ab96 100%);
    color: #6b2b18;
    font-size: 16px;
    border-radius: 14px;
    padding: 0 8px;
    // box-sizing: border-box;
    margin-right: 4px;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.imgs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4px;
  &--pl {
    padding-left: 92px;
  }
}

.images_2 {
  // width: 50%;
  position: relative;
  padding: 0 4px;
  width: 50%;
  box-sizing: border-box;
  height: 0;
  padding-bottom: 50%;
  flex: 0 1 50%;
}

.images_wrapper {
  // position: relative;
  // height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 100%;
  height: 0;
}

.image_new_flag {
  position: absolute;
  left: 12px;
  bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  width: 96px;
  height: 32px;
  background: linear-gradient(135deg, #ffa384 0%, #ff6850 100%);
  border-radius: 8px;
}

.image {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 4px;
  right: 4px;
  width: auto;
  height: auto;
  // width: 100%;
  // height: 100%;
  // background-color: red;
  border-radius: 16px;
  overflow: hidden;
}

.images_3 {
  @extend .images_2;
  width: 66.67%;
  flex: 1 1 66.67%;
  height: 384px;
  padding-bottom: 0;
  &_wrapper {
    position: absolute;
    padding-bottom: 100%;
    top: 0;
    left: 0;
    width: 100%;
  }
  &__right {
    flex: 1 1 33.33%;
    padding: 0 4px;
    box-sizing: border-box;
    width: 33.33%;
    height: 384px;
    margin: -4px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4px;
    &__img {
      width: 100%;
      height: 50%;
      position: relative;
      padding: 4px 0;
      box-sizing: border-box;
      .image {
        top: 4px;
        bottom: 4px;
        left: 0;
        right: 0;
      }
    }
  }
}

.image_more {
  @extend .images_2;
  width: 33.33%;
  flex: 0 1 33.33%;
  padding-bottom: 33.33%;
  margin-bottom: 8px;
}
