.custom_navigation_container {
  position: relative;
  z-index: 300;
  &__header {
    top: 0;
    width: 100%;
    position: fixed;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 300;
  }
  &__text {
    font-size: 38px;
    color: $title-color;
    font-weight: 500;
  }
  &__back {
    position: absolute;
    left: 0;
    width: 64px;
    height: 64px;
    z-index: 9999;
    align-self: center;
    &--fixed {
      position: fixed;
    }
  }
}
