.search_contanier {
  margin-top: 32px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;  
  &_search_text {
    font-size: 26px;
    color: '#222222';
  }
}

.list_contanier {
  margin:20px
}